@import "../../styles/util";


.CareerCultureCommitments {

    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;
    position: relative;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
    }

    @include min(1600) {
        --section-top-space: 120px;
        --section-bottom-space: 120px;
    }


    .top_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;

        img {
            object-fit: cover;
            object-position: top;
        }
    }

    .imagewrap {
        margin-bottom: 40px;
    }

    .ContentBox {
        margin-bottom: size(60);

        @include min(992) {
            margin-bottom: size(150);
        }

        &:nth-last-child(1) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @include min(992) {
                flex-direction: row-reverse;
            }

        }

        .content {
            .title {
                margin-bottom: size(20);
                max-width: 300px;

                @include min(1600) {
                    font-size: size(50);
                }
                @include min(992) {
                    max-width: 100%; 
                    span {
                        background: -webkit-linear-gradient(50deg, #1B7AC7, #000000);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

              

                &:nth-child(2){
                    max-width: 100%;
                }
            }

            h3 {
                line-height: 1.5;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                padding-top: 35px;
                margin: 25px 0;

                @include min(992) {
                    font-size: size(30);
                }
            }

            h4,
            h5,
            h6 {
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: size(30);
                @include min(992) {	
                    font-size: size(24);
                }
            }
            p{
                @include max(991.98) {	
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}