@import "../../styles/util";

.ziva_future{
    position: relative;
    overflow: hidden;

    &.fintech_section{
        .top_right_bg,.bottom_left_bg,.BreadCrumbs_wrap{
            display: none;
        }

    }

    .content_wraper{
        .title{
            @include min(1600) {
                font-size: size(55);
            } 
            span{
                background: -webkit-linear-gradient(50deg, #2EBDB9 , #000000);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        } 
    }
    .top_right_bg{
          position: absolute;
          width: 182px;
          height: 220px;
          
          right: 0;
          top: 0;
          z-index: -1;
          top: auto;
          bottom: 0;
          transform: scaley(-1);
          max-width: 50%;
          opacity: 0.6;
          @include min(992) {
            width: 475px;
            height: 473px;
            opacity: 1;
            bottom: auto;
            top: 0;
            transform: scaley(1);
        }
          img{
                object-fit: contain;
                @include max(991.98) {
                    object-position: top;
                }
          }  
          @include min(992) {
            --section-top-space: 128px;
            --section-bottom-space:128px;
        }
    }
    .bottom_left_bg{
        position: absolute;
        width: 526px;
        height: 472px;
        left: 0;
        bottom: 0;
        z-index: -1;
        display: none;
        img{
              object-fit: contain;
        }  
        @include min(992) {
            display: block;
        }
  }

  .kazito_bottom_right_bg{
        position: absolute;
        width: 304px;
        height: 692px;
        right: 0;
        bottom: -50%;
        z-index: -1;
        pointer-events: none;
        display: none;
        img{
            object-fit: contain;
            object-position: right;

        } 
        @include min(992) {
            display: block;
        } 
  }
  .content_wraper{
    padding: 35px 0 20px;
    @include min(992) {
        padding: 60px 0 40px;
    }
    .topWrap{
    .title{
        margin-bottom: 25px;
        font-weight: 400;
        @include min(992) {
            margin-bottom: size(40);
        }
    }
    p{
            max-width: 592px;
            line-height: 1.5;
        }
        .subheading,h3,h4,h5,h6{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: size(36);
            line-height: 1.6;
            @include min(992) {
                font-size: 24px;
            }
        }
    }

        
}
    .right_wrapper{
        display: flex;
        justify-content: flex-end;
        max-width: 620px;
        margin-left: auto;
        margin: 0 -10px;
        padding-top: 20px;
        padding-bottom: 20px;
        @include min(992) {
            margin: 0;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .colm{
            padding: 0 10px;
            width: 100%;
            @include min(992) {
                padding: 0 18px;
            }

            

        }
        .colm2{
            margin-top:80px ;
            @include min(992) {
                margin-top:120px ;
            }
        }
    }

    &.kazito_section{
        padding-bottom: 100px;
    }

    &.career_section{
        background: #EAECF0;
        padding: 20px 0 40px;
        .career_bg{
            position: absolute;
            width: 849px;
            height: 695px;
            max-width: 100%;
            left: 0;
            bottom: 0;
            pointer-events: none;
                img{
                    object-fit: contain;
                    object-position: bottom left;
        
                }  
        }

        .content_wraper{
            .title{
                font-weight: 500;
                @include min(1600) {
                    font-size: size(48);
                } 
                span{
                    background: -webkit-linear-gradient(50deg, #1B7AC7 , #000000);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            } 

            .topWrap{
                    .subheading,h3,h4,h5,h6{
                        font-weight: 500;
                    }
                }

        }

    }
    
}