@import "../../../styles/util";

.form_grp_wrap {
    :global {
        .form-group {
            margin-bottom: 35px;
            position: relative;

            @include min(992) {
                margin-bottom: 45px;
            }
        }

        .form-control {
            border-radius: 0;
            background-color: #EBEBEB;
            border: 0;
            font-weight: 500;
            max-height: 54px;
            color: var(--black);
            padding: 13px 17px;
            border-bottom: 1px solid #EBEBEB;
            resize: none;
            font-size: 16px;
            @include min(992){
                font-size: 18px;
            }

            &::placeholder {
                color: #020B15;
                font-family: var(--ff-primary);
                font-weight: 500;
                font-size: 16px;
                transition: 0.4s ease-in-out;
                opacity: 40%;
                @include min(992){
                    font-size: size(18);
                }
            }

            &:focus {
                border-bottom: 1px solid #1B7AC7;

                &::placeholder {
                    opacity: 0;
                    padding-left: 10px;
                }
            }

            &:not(:placeholder-shown) {
                border-bottom: 1px solid var(--black);
            }

        }
        .form-label{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            color: #020B15;
        }

        .upload-form {
           p{
            margin-bottom: 0;
            margin-top: 6px;
            font-size: 12px;
            opacity: 78%;
            color: #020B15;
            @include min(992){
                font-size: 16px;   
                margin-top: 13px;
            }
           }
           span{
                font-size: 16px;
            }

          
        }

        .file-upload {
            background-color: #EBEBEB;
            position: relative;
            border-bottom: 1px solid #EBEBEB;

            .form-control {
                opacity: 0;
            }
            .form-label {
                position: absolute;
                left: 17px;
                top: 15px;
                font-size: 18px;
                font-weight: 500;
                opacity: 40%;
                pointer-events: none;
            }

            &::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                right: 17px;
                top: 17px;
                z-index: 2;
                background-image: url("data:image/svg+xml,%3Csvg id='attach_file' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='Path_117389' data-name='Path 117389' d='M0,0H20V20H0Z' fill='none'/%3E%3Cpath id='Path_117390' data-name='Path 117390' d='M14.917,5.167V14.75a3.333,3.333,0,0,1-6.667,0V4.333a2.083,2.083,0,0,1,4.167,0v8.75a.833.833,0,1,1-1.667,0V5.167H9.5v7.917a2.083,2.083,0,1,0,4.167,0V4.333A3.333,3.333,0,0,0,7,4.333V14.75a4.583,4.583,0,0,0,9.167,0V5.167Z' transform='translate(-1.167 -0.167)'/%3E%3C/svg%3E%0A");
                pointer-events: none;
            }

           
        }

        .intl-tel-input {
            display: block;
            .flag-container{
                .selected-flag{
                    border-right: 1px solid #D9D9D9;
                    margin: 5px 0;
                    height: 80%;
                    width: 100px!important;
                    background-color: transparent!important;
                    display: flex!important;
                    @include min(992){
                        width: 120px!important; 
                    }
                }
               
                .selected-dial-code{
                    padding-left: 12px!important;
                    font-size: 16px;
                    pointer-events: none;
                }
                .arrow{
                    width: 18px;
                        height: 20px;
                        position: static;
                        pointer-events: none;
                    &::after{
                        width: 18px;
                        height: 20px;
                        position: absolute;
                        content: ""!important;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18.566' height='20' viewBox='0 0 18.566 20'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_60637' data-name='Rectangle 60637' width='18.566' height='20' transform='translate(0)' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Mask_Group_25668' data-name='Mask Group 25668' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_117483' data-name='Path 117483' d='M-17370.68-4250.48l4.26,4.259-4.26,4.259' transform='translate(-4236.938 17378.551) rotate(90)' fill='none' stroke='%23000' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &.up{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .form-control{
                padding-left: 120px!important;
                @include min(992){
                    padding-left: 140px!important;
                }
            }
        }

        textarea {
            min-height: 120px;
        }

        input {
            &:focus {
                border-bottom: 1px solid #1B7AC7;
            }
        }

        .error{
            color: red;
            font-size: 12px;
            position: absolute;
            bottom: -22px;
            left: 12px;
            @include min(992){
                left: 20px;
                font-size: 14px;
            }
        }

     


        .checkbox {
            label {
                max-width: 250px;
                font-weight: 500;
                font-size: 14px;
                margin-left: 10px;
                color: rgba($color: #020B15, $alpha: .78);
                @include min(768){
                    max-width: 540px;
                    margin-left: 20px;
                }
                @include min(992) {
                    font-size: 16px;
                    margin-left: 26px;
                    max-width: 690px;
                }
            }
            .form-group{
                padding: 0!important;
            }
        }
        .form-check {
            padding-left: 40px;

            .form-check-input {
                border-radius: 50%;
                width: 22px;
                height: 22px;
                border: 2px solid #020B15;
                margin-left: 6px;
                box-shadow: unset;
                cursor: pointer;

                &:checked {
                    background-color: var(--black);
                    border: 2px solid var(--black);
                }
            }
        }

        .row {
            @include min(1200) {
                margin: 0 -19px;

                .form-group {
                    padding: 0 19px;
                    position: relative;
                }
            }
        }
    }

    // &.form_ziva{
    //     :global{
    //         .form-control,.selected__control{
    //             background-color: #EBEBEB;
    //             &::placeholder{
    //                 color: rgba(0, 0, 0, 0.5);
    //             }
    //             &:focus{
    //                 border-bottom: 1px solid #1B7AC7;
    //             }
    //             input{
    //                 &:focus{
    //                     border-bottom: 1px solid #1B7AC7;
    //                 }
    //             }
    //             .selected__value-container {
    //                 .selected__input-container{
    //                     color: rgba(0, 0, 0, 0.5);
    //                 }
    //             }
    //         }
    //         .form-check .form-check-input{
    //             border: 2px solid #7E7E7E;
    //         }
    //     }
    // }

    :global {
        .btn {
            color: var(--white);

            @include max(576) {
                display: block;
                width: 100%;
            }
        }
    }

    .fileuploaded{
        border-bottom: 1px solid var(--black);
    }
}