@import "../../styles/util";

.section_header{
    padding-top: 45px;
    .axle_section_title{
        font-weight: 400;
        color: #000000;
        margin-bottom: 0;
        
    }
}
.section_wrapper{
    padding: 40px 0;
    @include min(992) {
        padding: 80px 0;
    } 
    @include min(1600) {
        padding: 100px 0 158px;
    } 
    @include min(1024){
        --bs-gutter-x: 70px;
    }
    .image_wrapper{
        max-width: 556px;
        position: relative;
        figure{
            @include aspectRatio(556,362);
        }
    }
    .play_btn_wrapper{
        max-width: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @include min(992) {
            max-width: 77px;
        } 
        figure{
            @include aspectRatio(77,77);
        }
    }
    .section{
        &_title{
            font-size: 20px;
            font-weight: 400;
            color: #000000;
            @include lineHeight(24,38);
            margin-bottom: size(30);
           
            @include min(992) {
                font-size: size(24);
               
            } 
        }
        &_description{
            font-weight: 400;
            color: #000000;
            @include lineHeight(18,28);
            margin-bottom: 0;
        }
    }
}

.axle_content_section{
    position: relative;

    .bottom_left_bg{
        position: absolute;
        width: 925px;
        height: 522px;
        left: 0;
        bottom: 0;
        max-width: 50%;
        pointer-events: none;
        display: none;
        @include min(992) {
            display: block;
        } 
        img{
              object-fit: contain;
              object-position: bottom left;
        }  
    }
    .bottom_right_bg{
        position: absolute;
        width: 581px;
        height: 942px;
        right: 0px;
        bottom: -435px;
        pointer-events: none;
        display: none;
        @include min(992) {
            display: block;
        } 
        img{
                object-fit: contain;
                object-position: bottom right;
        }  
    }
}