@import "../../styles/util";

.axle_learning_section{
    padding: 60px 0 ;
    @include min(992) {
        padding: 80px 0;
    } 
    @include min(1600) {
        padding: 92px 0 130px;
    } 

}
.section{
    &_header{
        padding-bottom: size(35);
        max-width: 815px;
        margin-left: auto;
        margin-right: auto;
        @include min(992) {
            text-align: center;
            padding-bottom: size(90);
        } 
    
    }
    &_title{
        font-weight: 400;
        color: #000000;
        margin-bottom: size(25);
    
    }
    &_sub_title{
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        @include lineHeight(24,38);
        margin-bottom: 0px;
        @include min(992) {
            font-size: size(24);
        } 
    
    }
}
.column{
    &_wrapper{
        @include min(1200) {
            --bs-gutter-x: 53px;
        } 
    
        @include max(991.98){
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }
    }
    &_item{
        &_inner{
            border: 1px solid;
            border-image: linear-gradient(140deg, #FD6D00 40%, #000000);
            border-image-slice: 1;
            padding: 30px;
            min-height: 235px;
            @include min(992) {
                min-height: 303px;
            } 
        
            .img_wrapper{
                max-width: 45px;
            }

            @include min(1200) {
                &:hover{
                    border-image: linear-gradient(90deg, #FD6D00 0%, #000000);
                    border-image-slice: 1;
                }
              }
           
        }

    }
    &_title{
        font-size: 22px;
        font-weight: 600;
        color: #000000;
        @include lineHeight(22,32);
        margin-bottom: 0;
    }
}