@import "../../styles/util";

.content{
    &_title{
        font-size: 20px;
        font-weight: 400;
        @include lineHeight(50,81);
        color: var(--white);
        margin-bottom: 0;
        @include min(992) {
            font-size: size(35);
        }
        @include min(1600) {
            font-size: size(50);
        }
    }
    &_description{
        color: var(--white);
        @include lineHeight(18,32);
        margin-bottom: 0;
        margin-top: 20px;
        @include min(992) {
            margin-top: 30px;
        }
    }
}
.btn_wrapper{
    margin-top: 35px;
    @include min(992) {
        margin-top: 50px;
    }
}