@import "../../styles/util";

.position{
    background-color: var(--footerbg);
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;
    position: relative;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 50px;
    }

    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space: 130px;
    }

    .title{
        width: 100%;
        margin-bottom: 31px;
        @include min(992){
            margin-bottom: 0;
            max-width: max-content;
        }
        @include min(1600) {
           font-size: size(50);
        } 
    }
    &_head{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        @include min(992){
            margin-bottom: 80px;  
        }
        .filterfield{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include max(991.98) {	
               width: 100%;
            }
            .search{
                border: 1px solid rgba($color: #DADADA, $alpha: .25);
                width: 54px;
                height: 54px;
                display: none;
                @include min(992){
                    display: block;
                }
              
                a{
                    color: #fff;
                   
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            :global{
                .css-b62m3t-container{
                    width: 100%;
                    margin-bottom: 20px;
                    @include min(992){
                        width: 274px;
                        margin-right: 30px;
                        margin-bottom: 0;
                        &:nth-last-child(1){
                            margin-right: 0;
                        }
                    }
                }
                .selected{
                    color: #fff;
                    &__control{
                        background-color: transparent;
                        border: 1px solid rgba($color: #DADADA, $alpha: .25);
                        min-height: 54px;
                        box-shadow: none;
                        outline: none;
                        color: #fff;
                        border-radius: 0;
                      
                    }
                    &__placeholder,
                    &__input-container,
                    &__single-value{
                        color: #fff;
                        font-size: 18px;
                    }
                    &__value-container{
                        padding-left: 21px;
                    }
                    &__indicator{
                        padding-right: 17px;
                        svg{
                            fill: #fff;
                        }
                    }
                 
                }
            }
          
        }
    }
    &_body{
        width: 100%;
        table{
            width: 100%;
            thead{
                pointer-events: none;
            }
            tr{
                border-bottom: 1px solid rgba($color: #D9D9D9, $alpha: .5);
                transition: all .4s ease-in-out;
               
                &:first-child{
                    border-bottom: 1px solid rgba($color: #D9D9D9, $alpha: 1);
                }
                th{
                    padding: 24px 15px;
                    font-size: 17px;
                    font-weight: 400;
                    &:nth-child(1),&:nth-last-child(1){
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                td{
                    padding: 62px 15px;
                    font-size: 18px;
                    font-weight: 400;
                    &:first-child{
                        width: 40%;
                    }
                    &:nth-child(2){
                        width: 22%;
                    }
                    &:nth-child(3){
                        width: 18%;
                    }
                    &:nth-child(1),&:nth-last-child(1){
                        padding-left: 0;
                        padding-right: 0;
                    }
                  
                    a{
                        width: 34px;
                        height: 34px;
                        display: block;
                        border-radius: 100%;
                        border: 1px solid #D9D9D9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        margin-left: auto;
                        transition: all .4s ease-in-out;
                    }
                    span{
                        font-size: 24px;
                        display: block;
                        transition: all .4s ease-in-out;
                    }
                }
                @include min(1200) {	

                    &:hover{
                        background-color: #fff;
                        td{
                            color: #000;
                        
                            a{
                                color: #000;
                                border: 1px solid #000;
                                transform: translateX(-20px);
                            }
                            span{
                                transform: translateX(30px);
                            }
                        }
                    }
                }
            }
        }
        .arrow_text{
            color: #fff;
            .arrow_bottom{
              svg{
                fill: #fff!important;
              }
            }
        }
      
    }

    .positions_bg{
          position: absolute;
          bottom: 0; 
         
          width: 1571px;
          height: 942px;
          right: 100px;
          max-width: 100%;
          pointer-events: none;
     
          @include max(992){
            left: 50%; 
            transform: translateX(-50%);
          }
          img{
            object-position: bottom;
            object-fit: cover;
          }
    }

}

.position_box{
    border-bottom: 1px solid rgba($color: #D9D9D9, $alpha: .5);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(1px);
    &:last-child{
        border: none;
    }
    .title{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    p{
        font-size: 14px;
        margin: 0;
    }
    p+p{
        margin-top: 5px;
    }
    a{
        width: 34px;
        height: 34px;
        flex: 0 0 35px;
        display: block;
        border-radius: 100%;
        border: 1px solid #D9D9D9;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-left: auto;
        transition: all .4s ease-in-out;
    }
}

.button{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    &:hover{
        border-color: #fff !important;
        background-color: transparent !important;
        color: #fff !important;
    }
}