@import "../../styles/util";


.home_requestdemo {
    overflow: hidden;
    position: relative;


    .row_top {
        align-items: flex-end;
    }

    .left {
        max-width: 400px;
        position: relative;
        margin: 0px auto;
        @include min(992) {
            max-width: 682px;
          }

        .shape {
            position: relative;
            z-index: 2;
            margin-bottom: -5px;

            .shape_figure {
                @include aspectRatio(682, 468);
                margin-bottom: 0;
                .req_demo_bg{
                    transform: translateY(50px);
                }
            }

            .shape_figure2 {
               padding-bottom: 100%;
                position: relative;
                margin-left: auto;
                margin: 0 auto;
                // @include min(992) {
                //     @include aspectRatio(600, 991);
                //   }
                
                img{
                    object-position: bottom;
                    transform: scale(0.9);
                    transform-origin: bottom;
                    object-fit: contain;
                }

            }

            .shape_fixed {
                position: absolute;
                width: 360px;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                @include min(992) {
                    width: 460px;
                  }
                @include min(1600) {
                    width: 600px;
                  }
            }
        }

        &:global(.visible){
            
                .shape_figure {
                    .req_demo_bg{
                        transform: translateY(0);
                        transition:0.7s ease-in-out;
                    }
                }
                .shape_figure2{
                    img{
                        transform: scale(1);
                        transition:0.5s ease-in-out;
                    }
                }
        }

    }



    .right {
        max-width: 462px;
        padding-top: 50px;
        padding-bottom: 160px;
        
        @include min(992) {
            padding: size(150) 0;
            margin-left: size(117);
          }
        @include min(1600) {
            padding: size(175) 0;
          }

        .title {
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: size(38);
            }
        }
    }


    .top_box_bg {
        &:before {
            right: auto;
            left: -15%;
            top: -45rem;
            background: radial-gradient(circle, #035EC8 0%, rgba(56, 60, 69, 0) 70%);
            opacity: 0.2;
            display: none;
            @include min(992) {
                display: block;
              }
        }
    }

    .left_box_bg {
        &:before {
            right: auto;
            top: -20rem;
            left: -20rem;
            background: radial-gradient(circle, #0014FF 0%, rgba(56, 60, 69, 0) 70%);
        }
    }

}


