@import "../../../styles/util";

.form_grp_wrap{
    :global{
        .form-group{
            position: relative;
            margin-bottom: 40px;
            @include min(992) {
                margin-bottom: 45px;
            } 
        }
        .form-control{
            border-radius: 0;
            background-color: #EBEBEB;
            border: 0;
            font-weight: 500;
            max-height: 54px;
            color: var(--black);
            padding: 13px 17px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            resize: none;
            font-size: 16px;
            @include min(992){
                font-size: 18px;
            }
            &::placeholder{
                color: rgba(0, 0, 0, 0.5);
                font-family: var(--ff-primary);
                font-weight: 500;
                transition: 0.4s ease-in-out;
                font-size: 16px;
                @include min(992){
                    font-size: 18px;
                }
            }
            &:focus{
                border-bottom: 1px solid #1B7AC7;
                &::placeholder{
                    opacity: 0;
                    padding-left: 10px;
                }
            }
            &:not(:placeholder-shown) {
                border-bottom: 1px solid var(--black);
            }

        }
        textarea{
            min-height: 120px;
        }

        input{
            &:focus{
                border-bottom: 1px solid #1B7AC7;
            }
        }

        .selected__control{
            border-radius: 0;
            background-color: #EBEBEB;
            border: none;
            font-weight: 500;
            max-height: 54px;
            color: var(--black);
            padding: 10px 17px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            resize: none;
            box-shadow: unset;
            font-size: 16px;
            cursor: pointer;
            @include min(992){
                font-size: 18px;
            }
            .selected__placeholder{
                color: #000000;
                font-family: var(--ff-primary);
                font-weight: 500;
                font-size: 16px;
                transition: 0.4s ease-in-out;
                opacity: 50%;
                @include min(992){
                    font-size: size(18);
                }
            }
            &:focus{
                border: none;
                border-bottom: 1px solid #1B7AC7;
                &::placeholder{
                    opacity: 0;
                    padding-left: 10px;
                }
            }
            &:hover{
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: unset;
            }
            &.selected__control--is-focused.selected__control--menu-is-open{
                border-color: unset;
                box-shadow: unset;
                border-bottom: 1px solid #1B7AC7;
            }
            .selected__value-container{
                padding: 0;
                .selected__placeholder{
                    color: var(--black);
                }
                .selected__input-container{
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            .selected__indicator-separator{
                display: none;
            }
            .selected__indicator{
                width: 12px;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.914' height='7.164' viewBox='0 0 12.914 7.164'%3E%3Cpath id='Path_111623' data-name='Path 111623' d='M3780.2,3667.488l6.1,6.1,6.1-6.1' transform='translate(-3779.847 -3667.134)' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                transform: rotate(0deg);
                transition: 0.3s transform ease-in-out;
                svg{
                    display: none;
                }
            }
            &.selected__control--menu-is-open{
                border: none;
                border-bottom: 1px solid #1B7AC7;
                .selected__indicator{
                    transform: rotate(180deg);
                }
            }
        }
        .selected__menu-list{
            border-radius: 0;
        }
        .selected__option{
            cursor: pointer;
        }
        .checkbox{
            label{
                opacity: 0.7;
                max-width: 100%;
                font-weight: 500;
                font-size: 14px;
                margin-left: 10px;
                @include min(992) {
                    font-size: 16px;
                    margin-left: 25px;
                    max-width: 664px;
                } 
            }
        }
        .form-check{
            padding-left: 40px;
            padding: 0!important;
            margin-bottom: 0;
            display: flex;
            .form-check-input{
                border-radius: 50%;
                width: 22px;
                height: 22px;
                border: 2px solid #7E7E7E;
                margin-left: 0px;
                box-shadow: unset;
                cursor: pointer;
                flex: 0 0 22px;
                &:checked{
                    background-color: var(--black);
                    border: 2px solid var(--black);
                }
            }
        }
        .row{
            @include min(1200) {
                margin: 0 -19px;
                .form-group{
                    padding: 0 19px;
                }
            }
        }
        .error{
            color: red;
            font-size: 12px;
            position: absolute;
            bottom: -22px;
            left: 12px;
            @include min(992){
                left: 20px;
                font-size: 14px;
            }
        }

        
        .intl-tel-input{
            display: flex;
            &.allow-dropdown.separate-dial-code {
                .selected-dial-code{
                    padding-left: 10px;
                }
                .selected-flag{
                    display: flex;
                    width: 110px;
                    &:focus-visible{
                        outline :none;
                    }
                }
                input[type=tel]{
                    padding-left: 120px;
                }
                .selected-dial-code,.arrow{
                    pointer-events: none;
                }
            }

             .country-list{
                width: 100%;
            }
          
        }


       
    }
    // &.form_ziva{
    //     :global{
    //         .form-control,.selected__control{
    //             background-color: #EBEBEB;
    //             &::placeholder{
    //                 color: rgba(0, 0, 0, 0.5);
    //             }
    //             &:focus{
    //                 border-bottom: 1px solid #1B7AC7;
    //             }
    //             input{
    //                 &:focus{
    //                     border-bottom: 1px solid #1B7AC7;
    //                 }
    //             }
    //             .selected__value-container {
    //                 .selected__input-container{
    //                     color: rgba(0, 0, 0, 0.5);
    //                 }
    //             }
    //         }
    //         .form-check .form-check-input{
    //             border: 2px solid #7E7E7E;
    //         }
    //     }
    // }

    :global{
        .btn{
            color: var(--white);
            @include max(576) {
               display: block;
               width: 100%;
            } 
        }
    }
}

.notbookdemopage{
    display: block;
    :global{
        .css-olqui2-singleValue{
            color: #000000;
        }
    }
}
