@import "../../../styles/util";

.mantracard{
    background-color: #fff;
    padding: 24px 0;
    padding-left: 20px;
    padding-right: 20px;
   
     width: 100%;
    height: auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 20px;
   position: relative;
   transition: all .1s ease-in-out;

   &:nth-last-child(1){
        margin-bottom: 0;
   }

   &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url(/images/about/res-shade.png);
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      transform: scale(0);
      pointer-events: none;
      z-index: 1;
      transform-origin: bottom right;
   }
  
    @include min(992){
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        align-items: flex-start;
        max-width: 14.3%;
        min-height: 351px;
        margin-bottom: var(--margin-bottom);
    }
    figure{
        width: 45px;
        height: 45px;
        position: relative;
        margin-bottom: 0;
        z-index: 2;
      
        @include min(992){
            margin-bottom: size(49);
        }
    }
    .title{
        max-width: max-content;
        margin-bottom: 0;
        line-height: 1.5;
        margin-left: 16px;
        position: relative;
        z-index: 2;
        @include min(992){
            max-width: 139px;
            margin-left: 0;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: size(18);
        }
    }
    .text_content{
         width: 100%;
         display: block;
        transition: all .1s ease-in-out;
        position: relative;
        z-index: 2;
        overflow: hidden;
        p{
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 0;
            height: 0;
            transition: height .1s ease-in-out;
            // display: none;
            // @include min(992){
            //     display: block;
            // }
    
        }
    }
    
}

.responsive_class{
    
   
    @include max(991.98){
        padding-top: 41px;
        padding-bottom: 41px;
        .text_content{
            margin-top: 41px;
            p{
                height: 77px;
            }
        }
        &::before{
            transform: scale(1);
            transition: all .3s ease-in-out;

        }
    }
    @include max(575.98){
        
        padding-top: 41px;
        padding-bottom: 81px;
        .text_content{
            margin-top: 41px;
            p{
                height: 50px;
            }
        }
    }

}