@import "../../styles/util";

.news_block{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: size(35) 0% 10px;
    display: block;

    @include min(992) {	
        padding: size(80) 6%;	
    }

    &_wrapper{
        // --bs-gutter-x: 50px;
        align-items: center;
    }

    &:hover{
        @include min(1200) {
            .img_wrapper{
                figure{
                    img{
                        opacity: 0.9;
                        transform: scalex(1.05);
                    }
                }
            }  
          }
    }
}

.img_section{
    .img_wrapper{
        max-width: 411px;
        opacity: 1;
        overflow: hidden;
        @include min(992) {
            width: 90%
        }
        figure{
            @include aspectRatio(411,224);
            img{
                object-fit: cover;
                transition: 0.3s ease-in-out;
            }
        }
    }
    @include hover{
        .img_wrapper{
            figure{
                .main_img{
                    // opacity: 0;
                }
            }
        }
    }
}

.content_section{
    max-width: 660px;
    .category{
        color: #00B195;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: size(10);
        @include min(992) {	
            font-size: 15px;	
        }
    }
    .title{
        font-size: 24px;
        font-weight: 500;
        color: var(--black);
        @include min(992) {	
            font-size: size(36);	
        }
    }
    .name{
        color: var(--black);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        line-height: 1.3;
        @include min(992) {	
            font-size: 15px;	
        }
    }
    .date{
        color: #6E6E6E;
        font-size: 12px;
        font-weight: 500;
        display: block;
        margin-bottom: 14px;
        @include min(992) {	
            font-size: 13px;	
        }
    }
}