@import "../../styles/util";

.integrations_section{
    --section-top-space: 60px;
    --section-bottom-space: 50px;
    background-color: var(--bg-color3);
    position: relative;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
    }
    @include min(1600) {
        --section-top-space: 139px;
        --section-bottom-space: 175px;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(47 101 166 / 14%);
        z-index: 0;
        pointer-events: none;
    }

    .intergrate_wrap{
        position: relative;
        z-index: 1;
    }
}

.title{
    color: var(--white);
    margin-bottom: 0;
    font-weight: 400;
}
.sub_title{
    margin-top: size(30);
    font-size: 16px;
    color: var(--white);
    margin-bottom: 0;
    @include min(992) {
        font-size: size(24);
    }
}

.partner_images{
    margin-top: size(50);
    // padding-bottom: 10px;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
   
   &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    @include max(575.98) {
        margin-left: -20px;
        margin-right: -20px;
        margin-top: size(30);
    }
    @include min(1200) {
        margin-top: size(120);
    }
    .img_wrapper{
        max-width: 150px;
        flex: 0 0  150px;
        padding: 0 20px;
        margin: auto;
        @include min(992) {
            max-width: 180px;
            flex: 0 0  180px;
        }

        figure{
            margin: 0;
            padding-bottom: 80px;
            position: relative;
            img{
                object-fit: contain;
                transition: 0.6s cubic-bezier(.8,0,0,1);
                &:hover{
                    @include min(1200) {
                            transform: scale(0.9);
                    }
                }
            }
        }
    }

    :global{
        .swiper-wrapper{
            align-items: center;
        }
    }
}