@import "../../../styles/util";

.product_features{
    .features_wrapper{
        --bs-gutter-x: 15px;
        @include min(768){
            --bs-gutter-x: 25px;
        }
        @include min(1024){
            --bs-gutter-x: 55px;
        }
        &:not(:first-child){
            margin-top: 45px;
            @include min(992) {
                margin-top: size(60);
            }
        
        }
        .index_no{
            font-size: 15px;
            font-weight: 400;
            margin-top: 8px;
            display: inline-block;
        }
        .title{
            font-size: 20px;
            font-weight: 400;
            @include lineHeight(20,38);
            @include min(992){
                font-size: size(27);
                @include lineHeight(27,38);
            }
        }
        .description{
            margin-top: 15px;
            font-size: 16px;
            font-weight: 400;
            @include lineHeight(16,24);
            @include min(992){
                margin-top: 20px;
                font-size: size(18);
                @include lineHeight(18,28);
            }
        }
    }
}