@import "../../styles/util";

.image_wrapper{
    max-width: 546px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 82%, 85% 100%, 0% 100%, 0% 60%);
    margin-bottom: 40px;
    transition: 2s cubic-bezier(.8,0,0,1);
    filter: blur(2px);
    @include min(992) {
       margin-bottom: 0;
    }
    figure{
        @include aspectRatio(546,405);
        img{
            object-fit: cover;
            transform: scale(1.5);  
        }
    }
    &.image_right{
        @include min(992) {
            margin-left: auto;
        }
    }

    &:global(.visible){
        
        filter: blur(0);
        figure{
            img{
                transform: scale(1);
                transition: 2s cubic-bezier(.8,0,0,1);
            }
        }
    }

   
}