@import "../../styles/util";



@import "../../styles/util";

.axle_learning_section{
    padding: 60px 0  40px;
    @include min(992) {
        padding: 90px 0 70px;
    } 
    @include min(1600) {
        padding: 130px 0 100px;
    } 

}
.section{
    &_header{
        padding-bottom: size(35);
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        @include min(992) {
            text-align: center;
            padding-bottom: size(80);
        } 
    
    }
    &_title{
        font-weight: 500;
        color: #000000;
        margin-bottom: size(25);
        span{
            background: -webkit-linear-gradient( 50deg,#000000 20%, #0436d8 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
    }
    &_sub_title{
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        @include lineHeight(24,38);
        margin-bottom: 0px;
        @include min(992) {
            font-size: size(24);
        } 
    
    }
}
.column{
    &_wrapper{
        @include min(1200) {
            --bs-gutter-x: 40px;
        } 
    
        @include max(991.98){
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }
    }
    &_item{
        &_inner{
            border: 1px solid;
            border-image: linear-gradient(140deg, #1779FF4D 40%, #000000);
            border-image-slice: 1;
            padding: 20px;
            min-height: 235px;
            @include min(992) {
                min-height: 303px;
                padding: 40px;
            } 
            @include min(576) {
                padding: 30px;
            } 


            @include min(1200) {
                &:hover{
                    border-image: linear-gradient(90deg, #1779FF4D 0%, #000000);
                    border-image-slice: 1;
                }
              }
           
        }

        .img_wrapper{
            padding-bottom:93px;
            position: relative;
            margin-bottom: size(35);
            max-width: 200px;
            @include min(992) {
                margin-bottom: size(60);
            }
            img{
                object-position: left;
                object-fit: contain;
            }

        }

    }
    &_title{
        font-size: size(20);
        color: #000000;
        @include lineHeight(22,32);
        margin-bottom: 0;
    }
    &_heading{
        margin-bottom: size(25);
    }
}