@import "../../../styles/util";


.ziva_whiteCard{
    background-color: #FFFFFF;
    border-radius: 14px;
    overflow: hidden;
    padding:30px 20px ;
    position: relative;
    height: 100%;
    transition: 0.3s ease-in-out;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    @include min(992) {
        padding:55px 45px 50px;
        min-height: 432px;

        &:hover{
            translate: -3px 3px !important;
        }
    } 

    figure{
        position: relative;
        max-width: 45px;
        padding-bottom: 40px;
        margin-bottom: size(76);
        pointer-events: none;
        img{
            position: relative;
        }
    }
    .title{
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 15px;
        @include min(992) {
            font-size: size(24);
            margin-bottom: 26px;
        } 
    }
    p{
        margin-bottom: 0;
        line-height: 1.55;
    }

    // Best Practice Section 
   
    &.bestpractice{
        background-color: #0D212A;
        figure{
            max-width: 45px;
            padding-bottom: 45px;
            @include min(992) {
                max-width: 56px;
                padding-bottom: 56px;
            } 
        }
    }

    .cont_wrap{
            pointer-events: none;
    }
}

.ziva_whiteCard_wrapper{
    height: 100%;
    &.bestpractice_border{
        padding: 2px;
        background-image: url(/images/ziva/best_practice_bg_mobile1.png);
        border-radius: 14px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        @include min(992) {
            background-image: url(/images/ziva/best_practice_bg.png);
        } 
    }
}


