@import "../../../styles/util";

.tr_topic{
    position: sticky;
    top: 10%;
    .title{
        font-weight: 600;
        font-size: 24px;
        @include min(992) {	
            margin-bottom: size(30);	
        }
    }
    .share{
        margin: 30px 0;
        p{
            margin-bottom: size(12);
            font-size: 16px;
            font-family: var(--teritary-font-family);
        }
        ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            li{
                display: inline-block;
                margin-right: 8px;
                svg{
                    path{
                        fill:#000;
                        transition: 0.3s ease-in-out;
                    }
                }
                .sharelink{
                    width: 37px;
                    height: 37px;
                    border-radius: 100%;
                    border: 1px solid rgba($color: #000000, $alpha: .3) !important; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover{
                        svg{
                            path{
                                fill:#1CB195;
                            }
                        }
                    }
                }
            }
        }
    }
}



.clipboard{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}