@import "../../styles/util";

.platforms_section{
    background-color: #042932;
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    @include min(768){
        --section-top-space: 80px;
        --section-bottom-space: 80px;
    }
    @include min(1024){
        --section-top-space: 130px;
        --section-bottom-space: 108px;
    }
    .addon_img{
        position: absolute;
        left: 0;
        top: 0;
        width: 632px;
        height: 550px;
        pointer-events: none;
        figure{
            @include aspectRatio(632,550);
        }
    }
}

.content_wrapper{
    --bs-gutter-y: 20px;
    @include min(768){
        --bs-gutter-y: 0px;
        --bs-gutter-x: 50px;
    }
    @include min(992){
        --bs-gutter-y: 0px;
    }
    @include min(1024){
        --bs-gutter-x: 110px;
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        @include lineHeight(30,44);
        @include min(992){
            font-size: size(40);
        }
       
        @include min(1600){
            font-size: size(55);
            @include lineHeight(55,76);
        }
    }
}

.platforms{
    &_content{
        margin-top: size(70);
    }
    &_wrapper{
        padding: 40px 0;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
        }
        &:not(:last-child){
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: var(--white);
                bottom: 0;
                right: 0;
                @include min(992){
                    width: 87%;
                }
                @include min(1600){
                    width: 90%;
                }
            }
        }
        .icon_wrap{
            @include min(768){
                flex: 0 0 60px;
                max-width: 60px;
            }
            figure{
                max-width: 32px;
                padding-bottom: 32px;
                position: relative;
            }
        }
        .content_wrap{
            @include min(768){
                flex: 1 1;
                max-width: auto;
            }
        }
    }
    &_title{
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        @include lineHeight(20,37);
        @include min(768){
            font-size: size(25);
            margin-top: 0;
        }
        @include min(1600){
            font-size: size(30);
            @include lineHeight(30,37);
        }
    }
    &_desc{
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
        @include lineHeight(16,25);
        @include min(768){
            margin-top: 25px;
        }
        @include min(1024){
            font-size: size(18);
            @include lineHeight(18,28);
        }
        p{
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
            @include lineHeight(16,25);
            @include min(768){
                margin-top: 25px;
            }
            @include min(1024){
                font-size: size(18);
                @include lineHeight(18,28);
            }
        }
    }
}
.button_wrapper{
    margin-top: size(70);
    @include min(992){
        padding-left: 18%;
        margin-top: 70px;
    }
    @include min(1024){
        padding-left: 15%;
    }
    @include min(1200){
        padding-left: 12%;
    }
    @include min(1600){
        padding-left: 9%;
    }
}