@import "../../styles/util";

.retail_section{
    --section-top-space: 60px;
    --section-bottom-space: 30px;
    // border-top: 1px solid rgba(162, 162, 162, 0.3);
    background-color: #F4F6FF;
    @include min(992){
        --section-top-space: 90px;
        --section-bottom-space: 70px;
        background-color: #FEFEFE;
        // border-top: 1px solid #A2A2A2;
    }
    @include min(1600){
        --section-top-space: 120px;
        --section-bottom-space: 120px;
    }
    .addon_img{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
        display: none;
        @include min(992){
            display: block;
        }

    }

    .ziva_loanwrapper{
        padding-top: size(45);
        @include min(992) {
           padding-top: size(100);
        }
    }

    :global{
        .row{
            
            @include min(1200) {
                --bs-gutter-x: 74px;
            }
        }
    }

}
.header_wrapper{
    --bs-gutter-y: 20px;
    @include min(992){
        --bs-gutter-y: 0px;
    }
  
    @include min(1600){
        --bs-gutter-x: 236px;
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        max-width: 520px;
        @include lineHeight(30,44);
        @include min(992){
            font-size: size(40);
            @include lineHeight(55,76);
            max-width: 68%;
        }
        @include min(1600){
            font-size: size(55);
        }
    }
    .content{
        font-size: 20px;
        font-weight: 400;
        @include lineHeight(20,30);
        @include min(992){
            font-size: size(24);
            @include lineHeight(24,38);
        }
    }
}

// .varieties{
//     &_list{
//         @include min(768){
//             column-count: 2;
//             column-gap: 20px;
//         }
//         @include min(1024){
//             column-count: 3;
//             column-gap: 40px;
//         }
//         @include min(1600){
//             column-gap: 60px;
//         }
//         &_item{
//             padding: 20px 0;
//             border-bottom: 1px solid #C6C6C6;
//             font-size: 18px;
//             font-weight: 500;
//             @include lineHeight(18,32);
//             @include min(1024){
//                 padding: 30px 0;
//                 font-size: size(20);
//                 @include lineHeight(20,32);
//             }
//             .img_item{
//                 margin-right: 40px;
//                 @include min(1024){
//                     margin-right: 35px;
//                 }
//             }
//         }
//     }
// }