@import "../../styles/util";

.kzt_products {
    background-color: var(--footerbg);
    overflow: hidden;
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
    }

    @include min(1600) {
        --section-top-space: 110px;
        --section-bottom-space: 120px;
    }

    &_head {
        margin-bottom: size(20);
        @include min(992) {
            margin-bottom: size(60);
        }
        @include min(1600) {
            margin-bottom: size(100);
        }
        .title {
            margin-bottom: 18px;
            @include min(1600) {
                font-size: size(50);
            }
            span{
                display: inline-block;
            }
        }

        p {
            line-height: 1.6;
            @include min(992){
                font-size: size(24);
                max-width: 92%;
                margin-left: auto;
                margin-bottom: size(30);
            }
        }
    }

    &_tabs {
        :global {
            .nav-tabs {
                padding-bottom: 10px;
                border-bottom: 2px solid rgba($color: #707070, $alpha: .5);
                margin: 0;

                .nav-item {
                    width: 25%;
                    text-align: center;

                    .nav-link {
                        width: 100%;
                        padding: 0;
                        height: 100%;
                        padding: 15px 25px;
                        background-color: transparent;
                        color: #fff;
                        border: none;
                        position: relative;
                        font-weight: 500;
                        font-size: 18px;
                        transition: all .3s ease-in-out;
                        @include min(1200){
                            font-size: 20px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 3px;
                            background-color: #fff;
                            left: 0;
                            bottom: -12px;
                            transition: all .5s ease-in-out;
                        }

                        &.active {
                            font-weight: 700;

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .tab-content {
                width: 100%;
                padding-top: 50px;
                @include min(1200){
                    padding-top: size(80); 
                }
              

            }

        }

        .left {
            max-width: 658px;
            margin: auto;
            position: relative;
       
            .shape {
                position: relative;
                z-index: 2;

                .shape_figure {

                    margin-bottom: 0;
                    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);

                    @include min(992) {
                        @include aspectRatio(658, 431);
                    }
                    img{
                        transform: scale(1.2);  
                       
                    }
                }

                &:global(.visible){
                    img{
                        transform: scale(1) !important;
                        transition: 2s cubic-bezier(.8,0,0,1);  
                    }
                }

            }

        }
        .right{
            padding-left: 50px;
            .title{
                margin-bottom: 20px;
                @include min(992){
                    font-size: size(35);
                    margin-bottom: size(40);
                  
                }
            }
            p{
                margin-bottom: 0;
                opacity: .5;
                font-size: 18px;
                font-weight: 500;
                max-width: 524px;
                @include min(1200){
                    font-size: 20px; 
                }
            }
        }
    }

}