@import "../../../styles/util";

.right_news_card{
    position: relative;
    overflow: hidden;   
    z-index: 1;
    margin-bottom: size(40);
    display: block;
  
    .figure_left{
       margin-bottom: 20px;
       @include min(992) {
        margin-bottom: 30px;
    } 
    }
    .figure_wrap{
        position: relative;
        @include aspectRatio(418,218);
        height: auto;
        overflow: hidden;
        @include min(992) {
            height: 100%;
          }

        img{
            object-fit: cover;
            transition: 0.6s ease-in-out;
        }
    }
    span{
        color: var(--black);
        font-size: 12px;
        font-weight: 500;
        margin-right: 18px;
        @include min(992) {
            font-size: 13px;
        } 

        &.category{
            color: #00B195;
        }
    }
    .category{
        position: absolute;
        background: var(--white);
        color: var(--black);
        z-index: 1;
        top: 12px;
        right: 12px;
        font-size: 12px;
        font-weight: 500;
        padding: 2px 8px;
        @include min(992) {
            padding: 5px 12px;
            font-size: 14px;
        } 

    }
    h3{
        color: var(--black);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 400;
        
        max-width: 300px;
        @include min(992) {
            font-size: size(25);
            max-width: 370px;
            margin-bottom: 35px;
        } 
    }
    .date{
        color: rgba(0, 0, 0, 0.5);
        margin-right: 18px;
        font-size: 14px;
        @include max(991.98) {
           font-size: 12px;
          }
    }
    .right_cont_wrap{
      
        @include min(992) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        } 
    }

    &:after{
        position: absolute;
        content: '';
        height: 1px;
        width: 0%;
        background: var(--black);
        transition: 0.3s ease-in-out;
        bottom: 0px;


    }

    &:hover{
        @include min(1200) {
            img{
                transform: scalex(1.05);
                opacity: 0.8;
            }
            &:after{
                width: 100%;
            }
        }
    }
    

}
.dark_theme{
    .right_cont_wrap{
        @include min(992) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    
        span,h3{
            color: var(--white);
            &.date{
                opacity: 0.5;
            }
        }
    }
    
    .right_news_card{
        &:after{
            background: var(--white);
        }
    }

}

.realtedtopics{
     width: 100%;

     .category{
        display: none;
    }
    span{
        color: #1CB195;
    }
}