@import "../../styles/util";

.ziva_banner_section{
    position: relative;
    overflow: hidden;
    min-height: 505px;
    display: flex;
    align-items: center;
    background-color: #041B25;
    padding: 50px 0;
    @include min(768) {
        min-height: 400px;
    }
    @include min(1600) {
        min-height: 460px;
    }

    .banner_img_section{
        position: absolute;
        width: 100%;
        height: 100%;
        figure{
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
        }
        img{
            transform: scaley(1.1) skew(0deg, 2deg);
            transition: 0.5s ease-in-out;
        } 
    }

    &.inview{
        .banner_img_section{
                img{
                    transform: scaley(1) skew(0deg, 0deg);
                } 
            }
    }

}
.banner_content_wrapper{
    position: relative;
    z-index: 1;
    .banner{
        &_main_title{
            font-size: 30px;
            font-weight: 600;
            color: var(--white);
            max-width: 80%;
            margin-bottom: 0;
            @include lineHeight(65,81);
            transform: translateY(100%) skew(-6deg);
           
            opacity: 0;

            @include min(768){
                font-size: size(55);
                max-width: 70%;
            }
            @include min(1600){
                font-size: size(65);
                
            }
        }
        &_title{
            font-size: 18px;
            font-weight: 500;
            @include lineHeight(18,30);
            margin-bottom: 0;
            margin-top: 20px;
            color: var(--white);
            transform: translateY(100%) skew(-6deg);
            
            opacity: 0;
            @include min(768){
                font-size: size(26);
                margin-top: 0px;
                font-weight: 400;
            }
            @include min(1600){
                font-size: size(30);
                @include lineHeight(30,44);
            }
            @include max(575.98) {
                    max-width: 330px;
            }
        }
        &_sub_title{
            font-size: 16px;
            font-weight: 400;
            @include lineHeight(16,25);
            margin-bottom: 0;
            margin-top: 25px;
            color: var(--white);
            transform: translateY(100%) skew(-6deg);
            
            opacity: 0;
            @include min(1024){
                font-size: size(20);
                max-width: 75%;
                @include lineHeight(20,37);
            }
            @include max(575.98) {
                max-width: 260px;
             }
        }
    }
    .btn_wrapper{
        margin-top: 30px;
        overflow: hidden;
        @include min(1600){
            margin-top: 45px;
        }
        :global(.btn){
            transform: translateY(100%) skew(-6deg);  
            opacity: 0;
        }
    }

    &:global(.visible){
        .banner{
            &_main_title{
                transform: translateY(0) skew(0);
                opacity: 1;
                transition: 0.6s cubic-bezier(.8,0,0,1);
            }
            &_title{
                transform: translateY(0) skew(0);
                opacity: 1;
                transition: 0.6s cubic-bezier(.8,0,0,1);
            }
            &_sub_title{
                transform: translateY(0) skew(0);
                opacity: 1;
                transition: 0.6s cubic-bezier(.8,0,0,1);
            }
        }
        .btn_wrapper{
            :global(.btn){
                transform: translateY(0) skew(0deg);  
                opacity: 1;
            } 
        }
       

    }
}