@import "../../styles/util";

.home_blog_news{
    --section-top-space: 0px;
    --section-bottom-space: 0px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 0px;
        --section-bottom-space: 0px;
    }
    @include min(1600) {
        --section-top-space: 0px;
        --section-bottom-space:65px;
    }


    .title{
      font-weight: 500;
      @include min(992){
        font-weight: 400;
      }
     }
    .markettop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        z-index: 1;
        @include min(992) {
            padding-bottom: 30px;
          }
        
      }

}


.update_card{
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  @include min(992){
    max-width: 90%;
  }
  
  .figure_wrap{
      position: relative;
      @include aspectRatio(702,381);
      overflow: hidden;
      img{
          object-fit: cover;
          transition: 0.6s ease-in-out;
          
      }
  }

 .content{
      padding: 20px  0px 40px;
      color: var(--black);
      @include min(992) {
          padding: 35px 0px;
        }
      .title_head{
          font-size: 24px;
          overflow: hidden;
          line-height: 1.4;
          margin-bottom: 16px;
          @include min(992) {
              font-size: size(30);
              max-width: 600px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              margin-bottom: 30px;
            }
            @include min(1600) {
              font-size: size(36);
            }
      }
      .article_time{
          font-size: 14px;
          font-weight: 500;
          display: block;
          margin-bottom: size(15);
          @include min(992) {
              font-size: 15px;
             
            }
      }
      .link_text{
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        transition: 0.3s ease-in-out;
          @include min(992){
            font-size: 15px;
        }
      }
 }


  &:hover{
      @include min(1200){
        img{
            transform: scalex(1.05);
            opacity: 0.9;
        }
        .link_text{
          color: #00B195;
        } 
    }

  }

}

.trending_topics{
    @include min(992) {
    max-width: 490px;
    margin: auto;
  }
  .right_title{
      font-size: size(24);
    
      @include min(992) {
        margin-bottom: size(30);
    }
  }
}
