@import "../../../styles/util";

.accordion_wrapper {
    :global {
        .accordion {
            --bs-accordion-border-color: transparent;
            --bs-accordion-border-radius: 0px;
            --bs-accordion-inner-border-radius: 0px;
            --bs-accordion-bg: transparent;

            .accordion-item {
                border-top: unset;
                border-right: unset;
                border-left: unset;
                --bs-accordion-border-width: 1px;
                --bs-accordion-border-color: rgba(255, 255, 255, 0.2);

                .accordion-header {
                    .accordion-button {
                        --bs-accordion-border-color: transparent;
                        --bs-accordion-btn-focus-border-color: transparent;
                        --bs-accordion-btn-focus-box-shadow: unset;
                        --bs-accordion-btn-padding-x: 0px;
                        --bs-accordion-btn-padding-y: 25px;
                        font-size: 20px;
                        color: #fff;

                        &::after {
                            background-image: unset;
                            width: 16px;
                            height: 2px;
                            transform: rotate(90deg);
                            opacity: 1;
                            --bs-accordion-btn-icon-transition: transform 0.2s, opacity 0.2s ease-in-out;
                            background-color: #fff;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            margin-left: auto;
                            width: 16px;
                            height: 2px;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%) rotate(0deg);
                            background-color: #fff;
                        }

                        &:focus {
                            box-shadow: unset;
                        }

                        &:not(.collapsed) {
                            --bs-accordion-active-bg: transparent;

                            &::after {
                                background-image: unset;
                                background-color: var(--white);
                                --bs-accordion-btn-icon-width: 16px;
                                height: 1px;
                                transform: rotate(0deg);
                                opacity: 0;
                            }
                        }
                    }
                }

                .accordion-collapse {
                    .accordion-body {
                     padding: 0;
                      padding-bottom: 30px;
                      color: #fff;
                      p{
                        margin-bottom: 0;
                      }
                    }

                    &.show {
                        position: relative;

                        &:after {
                            position: absolute;
                            content: '';
                            background: var(--white);
                            height: 1px;
                            width: 100%;
                            left: 0;
                            bottom: -1px;
                        }
                    }
                }
            }
        }
    }
   
}

.image_wrap{
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 75%, 80% 100%, 0% 100%, 0% 60%);
    @include min(576){
        max-width: 70%;
     
        margin-bottom: 30px;

    }
    figure {
     
        @include aspectRatio(565, 431);
    }
}