@import "../../styles/util";

.mtv_service{
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
    }
    @include min(1600) {
        --section-top-space: 140px;
        --section-bottom-space:100px;
    }
    &_body{
        .title{
            margin-bottom: size(30);
            @include min(1600){
                font-size: size(50);
                
            }
        }
        p{
            margin-bottom: 0;
            margin-top: size(45);
            @include min(992){
                margin-top: 0;

            }
        }
        p+p{
            margin-top: 18px;
            @include min(992){
                margin-top: 30px;
            }
        }
        a{
            margin-top: size(35);
            @include min(1600){
                margin-top: size(60);
            }
        }
    }
    &_services{
        margin-top: 50px;
        @include min(992){
            margin-top: 80px;
        }
        @include min(1600){
            margin-top: size(100);
        }

        &_item{
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 0 20px;
           
            .item_wrap{
                border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
                width: 100%;
                height: 100%;
                padding: 30px 0;
                @include min(1600){
                    padding: 52px 0;
                }
            }
            
            .title{
                max-width: 180px;
                font-size: 20px;
                margin-bottom: 20px;
                @include min(1200){
                    max-width: 226px;
                }
                @include min(1600){
                    font-size: 26px;
                    margin-bottom: 33px;
                   
                }
            }
            p{
                margin-bottom: 0;
            }
        }
    }

}



.features_wrapper{
    --bs-gutter-y: 35px;
    overflow: hidden;
   
    @include min(768){
        --bs-gutter-x: 40px;
        --bs-gutter-y: 50px;
    }
    .features_card{
        transform: translateY(1px);
        div{
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            
        }

        @include max(767.98) {
                &:nth-last-child(1){
                    div{
                        border-bottom: 0; 
                        padding-bottom: 0;
                    }
                }
                display: none;
                &:nth-child(-n+3){
                    display: block;
                }

            }
        // &:nth-child(1){
        //     div{
        //         border-top: 0px solid rgba(0, 0, 0, 0.2);
        //     }
        // }
        // @include min(768){
        //     &:nth-child(2){
        //         div{
        //             border-top: 0px solid rgba(0, 0, 0, 0.2);
        //         }
        //     }
        // }
        // @include min(992){
        //     &:nth-child(3){
        //         div{
        //             border-top: 0px solid rgba(0, 0, 0, 0.2);
        //         }
        //     }
        // }
    }

    &.btnClicked{

        @include max(768) {
            
            .features_card{
                display: block !important;
            }
         
        }
    }



   
}

.button_wrapper{
    :global(.btn){
        border: 1px solid var(--black);
        background: transparent;
        color: #000;

        span{
            font-weight: 600;
        }
        &:hover{
            color: #000;
            background: transparent;
            border-color:#000;
        }
    }

}



.viewallbtn{
    display: block;
    &.btnClicked{
        display: none;
    }
}