@import "../../styles/util";

.imm_solution{
    background-color: var(--footerbg);
    overflow: hidden;
    --section-top-space: 60px;
    --section-bottom-space: 50px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 70px;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space:100px;
    }
    .title{
        font-weight: 400;
        @include min(1600){
            font-size: size(50);    
        }
    }

    .ContWraper{
        @include min(992) {
            --bs-gutter-x: 80px;
        }
    }
    &_items{
        margin-top: size(30);
        @include min(992){
            margin-top: size(60);
        }
        .card{
            display: flex;
            height: 100%;
            &_inner{
                padding: 22px 0;
                border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
                width: 100%;
                display: flex;
                align-items: center;
             
                @include min(992){
                    flex-direction: column;
                    padding: 40px 0;
                    margin-bottom: 40px;
                    align-items: flex-start;
                }
                .image_wrapper{
                    max-width: 40px;
                    width: 100%;
                    @include max(991.98){
                        flex: 0 0 20%;
                        margin-right: 25px;
                        max-width: 25px;
                    }
                     .image_box{
                        position: relative;
                        width: 100%;
                        min-height: 25px;
                        margin-bottom: 0;
                        @include min(992){
                            min-height: 40px;
                        }
                     }
                }
                .card_title{
               
                   font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height:1.4;
                    @include min(992){
                        margin-top: 25px;
                        font-size: 22px;
                        max-width: 240px;
                    }
                    @include min(1600){
                        font-size: size(27);
                    }
                }
            }
        }
    }
}