@import "../../styles/util";



.steadfast {
    background-color: var(--footerbg);
    --section-top-space: 60px;
    --section-bottom-space: 36px;
    position: relative;
    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
    }

    @include min(1600) {
        --section-top-space: 125px;
        --section-bottom-space: 127px;
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        background-image: url(/images/about/gradient.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size:contain ;
        z-index: 1;
        @include min(992){
            width: 50%;
        }
    }

    :global(.row) {
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .title {
        @include min(1600) {
            font-size: size(50);
        }
    }
    &_content{
        @include min(992) {
                padding-left: size(100);
          }
      
    }

    .value_list {
        columns: 1;
        column-gap: 40px;
        padding: 0;
        list-style-type: none;
        margin-top: size(20);
        @include min(992){
            columns: 2; 
            margin-top: size(60);
        }

        li {
            color: #fff;
            padding: 24px 0;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .25);
            padding-left: 25px;
            position: relative;
            font-size: 18px;
            font-weight: 500;
            @include min(992) {	
                padding-left: 33px;
            }
            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                background-color: #1E53FF;
                left: 0;
                top: 32px;
                @include min(992) {	
                    top: 34px;
                }
            }
       
            @include max(991.98){
                font-size: 16px;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }

}



.img_wrapper {
    position: relative;
    max-width: 246px;
    margin: auto;
    margin-bottom: 50px;
    @include min(576){
        max-width: 340px;
    }
    @include min(992){
        margin: 0;
        max-width: 467px;
    }

    &::after {
        content: "";
        background-image: url(/images/about/outer-shape.png);
        position: absolute;
        inset: 0;
        background-size: contain;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        mix-blend-mode: overlay;

    }

    &::before {
        content: "";
        background-image: url(/images/about/top-shape.png);
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: contain;
        z-index: 11;
    }

    figure {
        @include aspectRatio(468, 578);
        -webkit-mask-image: url(/images/about/shape1.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-image: url(/images/about/shape1.png);
        -webkit-mask-size: contain;



        img {
            object-fit: cover;
            // object-position: 80% ;
            // padding: 2px;
            transform: scale(1.5);  
           
        }
    }
}

.img_section{
    &:global(.visible){
        .img_wrapper{
            figure{
                img{
                    transform: scale(1);
                    transition: 2s cubic-bezier(.8,0,0,1);
                }
            }
        }
    }
}