@import "../../styles/util";

.statim_product_section{
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    background-color: #0A0501;
    position: relative;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
        background-color: #0F0C00;
    }

    @include min(1600) {
        --section-top-space: 113px;
        --section-bottom-space: 150px;
    }

    .satim_addon_img{
        position: absolute;
        bottom: -180px;
        right: -300px;
        width: 793px;
        height: 793px;
        pointer-events: none;
        display: none;
        figure{
            @include aspectRatio(793,793);
        }
        @include min(992) {
           display: block;
        }
    }
}
.title{
    margin-bottom: size(50);
    font-weight: 400;
    color: var(--white);
    @include min(992) {
        text-align: center;
        margin-bottom: size(95);
    }
}
.content{
    &_wrapper{
        row-gap: size(80);
        @include min(992) {
            row-gap: size(140);
        }
    }
    &_row{
        --bs-gutter-x: 28px;
        @include max(991.98){
            --bs-gutter-x: 0px;
            flex-direction: column-reverse;
        }
        &:nth-child(even){
            @include min(992) {
                flex-direction: row-reverse;
            }
           
        }
    }
}