@import "../../styles/util";

.facets_section{
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    background-color: #EAF0EE;
    position: relative;
    // overflow: hidden;
    @include min(992){
        --section-top-space: 90px;
        --section-bottom-space: 100px;
    }
    @include min(1600){
        --section-top-space: 130px;
        --section-bottom-space: 155px;
    }

    @include max(992){
       overflow: hidden;
    }
    .addon_img{
        width: 632px;
        height: 550px;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        figure{
            @include aspectRatio(632,550);
        }
    }
}

.content_wrapper{
    --bs-gutter-y: 40px;
    @include min(992){
        --bs-gutter-y: 0px;
    }
    .title{
        font-weight: 400;
        margin-bottom: 0px;
        color: #2D2D2D;
        @include min(992){
            margin-bottom: size(50);
        }
    }

    .stickyclass{
        position: sticky;
        top: 120px;
    }
}