@import "../../styles/util";

.kazito_management{
    padding: 60px 0;
    background-color: #0A0501;
    color: var(--white);
    position: relative;
    overflow: hidden;
    @include min(992) {
        padding: 100px 0;
        background-color: #050C1D;
    }
    @include min(1200) {
        padding: 140px 0;
    }
  
    .top_right_bg{
        position: absolute;
        width: 304px;
        height: 692px;
        right: 0;
        top: -350px;
        pointer-events: none;
        display: none;
        @include min(992) {
           display: block;
        }
        img{
              object-fit: contain;
              object-position: top right;
        }  
    }
    .bottom_left_bg{
        position: absolute;
        width: 534px;
        height: 1098px;
        left: 0px;
        bottom: -400px;
        pointer-events: none;
        display: none;
        @include min(992) {
           display: block;
        }
        img{
                object-fit: contain;
                object-position: bottom left;
        }  
    }

    .title{
        max-width: 1000px;
        // margin-bottom: 30px;
        font-weight: 400;
        line-height: 1.4;
        @include min(992) {
            // margin-bottom: size(100);
        }
        span{
            background: -webkit-linear-gradient( 50deg,#116BD7 20%, #ffffff 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    }

}