@import "../../styles/util";

.ourapproach {
    --section-top-space: 60px;
    --section-bottom-space: 40px;
    overflow: hidden;
    background-image: url(/images/about/our_approch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-position: 85% 0%;
    
    @include min(992) {
        --section-top-space: 100px;
        --section-bottom-space: 100px;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space:130px;
    }
  
    .title {
      margin-bottom: 21px;
      @include min(992){
           margin-bottom: 0;
      }
    }

      p {
          font-size: 18px;
          @include min(992) {
            font-size: size(24);
            max-width: 95%;
          }
      }


    .approach_wrap {
        padding-top: size(20);

        @include min(992) {
            padding-top: size(60);
        }
    }
    .approach_left_wrap{
        
        @include min(992) {
          max-width: 84%;
        }
      }

   
     
    
      .cont_wrap {
        position: relative;
      }
    
      .rightimage_wraper{
        position: relative;
        overflow: hidden;
        height: 250px;
        max-width: 877px; 
        margin-left: auto;
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            100% 75%,
            80% 100%,
            0% 100%,
            0% 60%
          );
        margin: auto;
        margin-bottom: 40px;
        @include min(576) {
          width: 60%;
      }   
        @include min(992) {
            height: 425px;
            margin-bottom: 0px;
            width: 100%;
        }    
      }
    
      .right_image {
        position: relative;
    
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        transition: 1s cubic-bezier(0.8,0,0.2,1),opacity 1.3s ease;
        // &>* {
        //   width: 100%;
        // }
        position: absolute;
        top: 0;
        left: 0;
    
        
        
        .figure_wrap {
          width: 100%;
          height: 250px;
          position: relative;
          overflow: hidden;
         
          @include min(992) {
            width: 100%;
            height: 425px;
          }
          img {
            position: relative;
          }
          .figure_right {
            object-fit: cover;
            // transform: scale(1.3);
            //  transition: 0.6s ease-in-out;
          }
       
        }
    
        
      //   &:global(.active) {
      //     .figure_wrap {
      //       .figure_right {
      //         transform: scale(1);
      //       }
      //     }
        
      // }
    
       
      }
    
    
      .arrow_sticked{
        position: absolute;
        width: 100%;
        height: 100%;
        &::after{
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.754' height='20.121' viewBox='0 0 23.754 20.121'%3E%3Cg id='Group_129212' data-name='Group 129212' transform='translate(1.28 15.992) rotate(-45)'%3E%3Cg id='Group_129199' data-name='Group 129199'%3E%3Cpath id='Path_110564' data-name='Path 110564' d='M877.872,1469.136l4.555,4.339H861.621' transform='translate(-861.621 -1469.136)' fill='none' stroke='%23ff7f00' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3Cpath id='Path_110566' data-name='Path 110566' d='M9182.021-19553.027l-4.819,4.518' transform='translate(-9161.215 19557.365)' fill='none' stroke='%23ff7f00' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
            height: 20px;
            width: 25px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      }
        
    
      .cont_head {
        position: relative;
        cursor: pointer;
        &:after {
            @include min(992) {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.616' height='10.977' viewBox='0 0 22.616 10.977'%3E%3Cg id='Group_140993' data-name='Group 140993' transform='translate(0.75 1.061)'%3E%3Cg id='Group_129199' data-name='Group 129199'%3E%3Cpath id='Path_110564' data-name='Path 110564' d='M877.872,1469.136l4.555,4.339H861.621' transform='translate(-861.621 -1469.136)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3Cpath id='Path_110566' data-name='Path 110566' d='M9182.021-19553.027l-4.819,4.518' transform='translate(-9161.215 19557.365)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
              transform: none;
              background-position: center;
              position: absolute;
              width: 35px;
              height: 35px;
              top: 34px;
              right: 0;
              content: '';
              background-repeat: no-repeat;
            }
            @include max(991.98) {
              height: 17px;
              width: 1px;
              position: absolute;
              content: "";
              top: 26px;
              right: 8px;
              background-color: #000;
              transition: 0.3s ease-in-out;
            }
          }
          &:before {
            @include max(991.98) {
              height: 1px;
              width: 17px;
              position: absolute;
              content: "";
              top: 34px;
              right: 0;
              background-color: #000;
            }
          }
    
    
        h3 {
          margin: 0;
          border-radius: 0;
          background: transparent;
          box-shadow: none;
          padding: 0;
          font-size: size(20);
          font-weight: 400;
          color: var(--black);
          padding: 25px 50px 25px 0;
          pointer-events: none;
          &.collapsed {
            pointer-events: all;
          }
          @include min(992) {
            font-size: size(30);
            padding: 35px 50px 35px 0;
          }
       
          
        }
    
      }
      .cont_wrap {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
        max-width: 100%;
        background: transparent;
        @include max(767.98){
         &:last-child{
          border: none;
          &::after{
            display: none;
           }
         }
       
        }
        &:global(.active){
            .cont_text{
                display: block;
            }
    
            .cont_head::after {
              transform: rotate(-90deg);
              @include min(992) {
                transform: none;
              }
            }

            h3 {
                font-weight: 500;
            }
    
        }
       
      }
      .cont_text {
        display: none;
        padding: 0px 0 20px;
        p {
          font-size: 16px;
          color: var(--black);
          margin-bottom: 0;
          @include min(992) {
              font-size: 18px;
              max-width: 85%;
          }
          + p {
            margin-top: 20px;
          }
        }
      }
    
    
      // .show{
      //     .accordion-body,.cont_wrap{
      //         &:after{
      //             width: 100%;
      //         }
    
      //     }
    
      // }
    
      
    
      .cont_wrap {
        position: relative;
       
        &:after {
          position: absolute;
          content: "";
          background: #000;
          height: 1px;
          width: 0%;
          bottom: -1px;
          left: 0;
          transition: 0.5s ease-in-out;
        }
    
        &:global(.active) {
            &::after {
              width: 100%;
            }
         
        }
      }
}