@import "../../../styles/util";


.box_wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 20px 15px;
    transition: 0.4s ease-in-out;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 270px;
    border-radius: 17px;
    min-height: 172px;
    overflow: hidden;
    z-index: 2;
    margin-left: auto;
    pointer-events: none;
    @include min(768) {
        margin-bottom: 38px;
        padding: 25px;
        min-height: 200px;
      }
    @include min(1200) {
        min-height: 250px;
        padding: 30px 37px;
      }
      @include min(1600) {
        min-height: 270px;
      }
        .shape_figure{
            width: 32px;
            height: 32px;
            flex: 0 0 32px;
            position: relative;
            @include min(1200) {
                width: 52px;
                height: 55px;
                flex: 0 0 52px;
              }
        }
     
        .content{
            p{
                margin-bottom: 0;
                font-weight: 500;
                line-height: 1.4;
                font-size: 14px;
                @include min(1600) {
                   font-size: 18px;
                  }
            }
            .title{
                font-size: 20px;
                font-weight: 600;
                @include min(1600) {
                    font-size: size(32);
                  }
            }
        }

        &:after{
            position: absolute;
            content: '';
            background: linear-gradient(45deg, #6B8CFD , #ffffff);
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: -1;
            transition: 0.6s ease-in-out;
        }

        &:hover{
            @include min(1200) {
                &:after{
                    opacity: 1;

                }
              }
           
        }

        &.active{
                &:after{
                    opacity: 1;

                }
           
        }


        &.colmbox1{
            pointer-events: all;
            &:after{
                background: linear-gradient(45deg, #ECA053, #FFF0CA);
            }
        }

        &.colmbox2{
            pointer-events: all;
            &:after{
                background: linear-gradient(45deg, rgba(3, 176, 170, 0.8), #ffffff);
            }
        }

        &.colmbox3{
            pointer-events: all;
            &:after{
                // background: linear-gradient(45deg, #0074ff , #ffdc67);
                background: linear-gradient(300deg, #0074ff 0%, #ffdc67 100%);
            }
        }

        &.colmbox4{
            pointer-events: all;
            &:after{
                // background: linear-gradient(45deg, #E27547, rgba(232, 149, 77, 0.808));
                background: linear-gradient(70deg, #E27547 -10%, #FAA357);
            }
        }

        &.colmbox5{
            pointer-events: all;
            &:after{
                background: linear-gradient(45deg,  #1B7AC7 , #06406D);
            }
        }


        &.zivabox{
            border: 1px solid #24BAB6;
            &:after{
                background: linear-gradient(45deg, rgba(3, 176, 170, 0.8) , #ffffff);
            }
            &:hover{
               
                @include min(1200){
                    border: 1px solid transparent;
                }
            }

            &.active{
               
                @include min(1200){
                    border: 1px solid transparent;
                }
            }

            

            .shape_figure{
                width: 32px;
                height: 32px;
                flex: 0 0 32px;
                position: relative;
                @include min(1200) {
                    width: 40px;
                    height: 40px;
                    flex: 0 0 40px;
                  }
            }

            .content{
                .title{
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }

        }
        // &:nth-last-child(1){
        //     margin-bottom: 0;
        // }



        &.kazitobox{
            background: linear-gradient(300deg , #0074ff 0%, #ffdc67 100%);
            position: relative;
            &:after{
                position: absolute;
                content: '';
                background: #fff;
                top: 1px;
                left: 1px;
                width: calc(100% - 3px);
                height: calc(100% - 2px);
                opacity: 1;
                border-radius: 17px;
            }
            &:hover{
                @include min(1200) {
                    &:after{
                        opacity: 0;
                    }
                }
            }
            &.active{
              
                    &:after{
                        opacity: 0;
                    }
            }
            .content{
                .title{
                    margin-bottom: 0;
                }
            }
        }

        &.insurtechbox{
            border: 1px solid #E89241;
            &:after{
                background: linear-gradient(45deg, #ECA053 , #FFF0CA);
            }
            &:hover,&.active{
                border: 1px solid transparent;
                @include min(1200){
                    border: 1px solid transparent;
                }
                &:after{
                    opacity: 1;
                }
            }

            .shape_figure{
                width: 32px;
                height: 32px;
                flex: 0 0 32px;
                position: relative;
                @include min(1200) {
                    width: 40px;
                    height: 40px;
                    flex: 0 0 40px;
                  }
            }

            .content{
                .title{
                    font-weight: 500;
                    margin-bottom: 0;
                    @include min(1600) {
                        font-size: size(30);
                      }
                }
            }


        }

        &.careerbox{
            .content{
                p{
                    margin-bottom: 0;
                    font-weight: 500;
                    line-height: 1.4;
                    font-size: 14px;
                    @include min(1600) {
                       font-size: 18px;
                      }
                }
                .title{
                    font-weight: 500;
                    margin-bottom: 0;
                    @include max(767.98) {
                        font-size: 16px; 
                        max-width: 90px;   
                    }
                }
            }  

            .shape_figure{
                width: 32px;
                height: 32px;
                flex: 0 0 32px;
            }

        }
        
}



    
