@import "../../../styles/util";

.update_card{
    position: relative;
    display: block;
    overflow: hidden;
    .figure_wrap{
        position: relative;
        @include aspectRatio(663,450);
    }
   .title{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px 45px ;
        max-width: 420px;
        color: var(--white);
   }

   .update_title{
        background: #fff;
        border-radius: 22px;
        padding: 8px 20px; 
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 1;
        color: var(--black);
   }
   .hover_wrap{
    padding: 42px 46px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-light);
    transform: translatey(60px);
    opacity: 0;
    transition:  0.2s ease-in-out;
    

        p{
            color: var(--text-color2);
            font-weight: 500;
        }
        h4{
            color: var(--black);
        }

   }
   &:hover{
    .hover_wrap{
        opacity: 1;
        transform: translatey(0px);
        transition:  0.5s ease-in-out;
    }
   }
}