@import "../../styles/util";

.promise{
    background-color: #EAECF0;
    background-image: url(/images/about/aboutbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    background-position: 100% 50%;
    overflow: hidden;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 60px;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space:90px;
    }
    .title{
        font-weight: 400;
        margin-bottom: 20px;
        max-width: 65%;
        @include min(992){
            margin-bottom: size(35);
            max-width: 100%;
        }
        span{
            background: -webkit-linear-gradient( 50deg,#1B7AC7 20%, #000000 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    }

    .topWraper{
        max-width: 820px;
    }
    .card_wrap{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .botom{
        font-size: 16px;
        margin-bottom: 30px;
        @include min(992){ 
            font-size: size(22);
        }
    }
}


.card_slider{
    position: relative;
    .mySwiper {
        padding: 50px 0;
        overflow: visible;
        // max-width: 340px;
        margin: 0;
        position: static;
        width: 150%;

        
        :global(.swiper-scrollbar-horizontal) {
          height: 20px;
          background: transparent;
          max-width: 680px;
          margin: auto;
          left: 50%;
          transform: translate(-50%);
    
          &:after {
            position: absolute;
            content: "";
            background: #DBDBDB;
            height: 2px;
            width: 100%;
            left: 0;
            top: 10px;
            z-index: -1;
          }
          :global(.swiper-scrollbar-drag) {
            background: transparent;
            cursor: pointer;
            &:after {
              position: absolute;
              content: "";
              background: #000000;
              height: 2px;
              width: 100%;
              left: 0;
              top: 10px;
              z-index: 1;
            }
          }
        }

        :global{
            .swiper-wrapper{
                height: auto;
                .swiper-slide{
                    margin-bottom: 30px;
                    height: auto;

                    &:after{
                        position: absolute;
                        content: "";
                        background: #EDEDED;
                        height: 100%;
                        width: 1px;
                        right: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
        
      }



      
.mantracard{
    background-color: #fff;
    padding: 26px 0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
     width: 100%;
    height: auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 20px;
   position: relative;
   transition: all .1s ease-in-out;


  
    @include min(992){
        padding-left: 25px;
        padding-right: 25px;
        flex-direction: column;
        align-items: flex-start;
        min-height: 340px;
        margin-bottom: var(--margin-bottom);
    }
    figure{
        width: 45px;
        height: 45px;
        position: relative;
        margin-bottom: 0;
        z-index: 2;
      
        @include min(992){
            margin-bottom: size(49);
        }
    }
    .title{
        max-width: max-content;
        margin-bottom: 0;
        line-height: 1.5;
        margin-left: 16px;
        position: relative;
        z-index: 2;
        @include min(992){
            margin-left: 0;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: size(18);
        }
    }
    .text_content{
         width: 100%;
         display: block;
        transition: all .1s ease-in-out;
        position: relative;
        z-index: 2;
        overflow: hidden;
        p{
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 0;
            transition:  .2s ease-in-out;
            opacity: 0;
            // display: none;
            // @include min(992){
            //     display: block;
            // }
    
        }
    }

    .ContWrapper{
        transform: translatey(145px);
        transition: 0.3s ease-in-out;
    }

    &:before{
        position: absolute;
        content: "";
        background: linear-gradient(-30deg, #527AFD, #F4F7FF);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 0;
        transition: 0.6s ease-in-out;
    }

    &:hover{
        .ContWrapper{
            transform: translatey(0px);
        }
        .text_content{
            p{
                opacity: 1;
            }
        }

        &::before{
            opacity: 1;
        }
    }
    
}

    :global(.swiper-slide-active){
        .mantracard{
            .ContWrapper{
                transform: translatey(0px);
            }
            .text_content{
                p{
                    opacity: 1;
                }
            }
    
            &::before{
                opacity: 1;
            } 
        }
    }


}