@import "../../styles/util";

.aboutbanner {
    padding: 60px 0;
   
    background-color: var(--career-banner);
    padding-bottom: 0;
    background-image: url(/images/about/about_bannerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include min(992){
        padding: 120px 0 0;
    }
    .title {

        line-height: 1.5;
        max-width: 262px;
        margin-bottom: 40px;
        @include min(576){
            text-align: center;
            margin-bottom: 0;
            max-width: 100%;
            margin-bottom: 40px;
        }
        @include min(1600) {
            font-size: 55px;
            max-width: 935px;
            margin-bottom: 77px;
            margin: auto;
            margin-bottom: 77px;
        }
    }

    .video_banner {
        object-fit: cover;
        position: relative;
        width: 100%;
        margin: auto;
        transition: all .6s ease-in-out;
        transform-origin: top center;
        padding: 0 20px ;
        min-height: 225px;
        @include min(992) {
            opacity: 0;
        }
        @include min(576){
       padding: 0;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }


        .play_button {
            width: 161px;
            height: 161px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            cursor: pointer;
            transition: all .2s ease-in-out;
            z-index: 1;
            @include max(991.98) {
                display: none;
            }
        
            // pointer-events: none;

            figure {
                width: 20px;
                height: 20px;
                position: relative;
                margin-bottom: 0;
                transition: all 1s ease-in;
                img {
                    width: 20px;
                    height: 20px;
                    position: relative;
                }
            }

            &:after {
                content: "";
                position: absolute;
                width: 161px;
                height: 161px;
                background-image: url(/images/textcircle.svg);
                background-repeat: no-repeat;

                top: 0;
                animation: rotation 5s infinite linear;
                transition: all 2s ease-in-out;
                pointer-events: none;

            }
            &::before{
                content: "Play";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--bg-color);
                border-radius: 100%;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
                 transition: all .4s ease-in-out;
                opacity: 0;
                pointer-events: none;
            }
            &:hover{
                figure{
                    opacity: 0;
                    transition: all .1s ease-in;
                };
                &::after{
                    opacity: 0;
                    transition: all .2s ease-out;
                }
                &::before{
                  opacity: 1;
                  z-index: 2;
                }
            }

        }
        &:hover{
            .play_button{
                opacity: 1;
               
            }
        }
    }

    .AboutvideoImg{
        cursor: pointer;
        figure{
            padding-bottom: 47%;
            margin-bottom: 0;

        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}




.aboutModal{
    --bs-modal-width:1062px;

    .aboutvideobox{
        
    }
    :global{
        .modal-content{
            border-radius: 0;
            border: 0;
        }
        .modal-dialog{
            @include min(576){
                width: 1062px;
                max-width: 90%;
            }
           
            @include max(575.98) {
                margin: 12px;
              }
        }
        .modal-header{
            display:block;
            border: none;
            padding: 0px;
            .btn-close{
                position: absolute;
                top: -20px;
                right: 10px;
                width: 14px;
                height: 14px;
                padding: 0px;
                box-shadow: none;
                color: #000;
                border-radius: 0;
                opacity: 1;
                filter: invert(1);
               
                @include min(1200){
                    &:hover{
                        opacity: .7;
                    }
                }
               
            }
        }
        .modal-body{
            padding:0px;
        }

    }

    video {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }

}

