@import "../../styles/util";

.techbrew_section{
    padding: 0px 0 60px ;
    @include min(992) {
        padding: 0px 0 80px;
    } 
    @include min(1600) {
        padding: 0px 0 130px;
    } 

}
.section{
    &_header{
        padding: size(40) 0;
        max-width: 815px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include min(992) {
            padding: size(90) 0;
            max-width: 90%;
        } 
    
    }
    &_title{
        font-weight: 400;
        color: #000000;
        margin-bottom: size(25);
    
    }
    &_sub_title{
        font-weight: 400;
        color: #000000;
        @include lineHeight(24,38);
        margin-bottom: 0px;
        margin: auto;
        font-size: 18px;
        @include min(992) {
            max-width: 748px;
        } 
    
    }
}
.column{
    &_wrapper{
        @include min(1600) {
            --bs-gutter-x: 53px;
        } 
    
        @include max(991.98){
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }
    }
    &_item{
        &_inner{
            border: 1px solid;
            border-image: linear-gradient(100deg, #1158BA  40%, #082752 );
            border-image-slice: 1;
            padding: 27px;
            min-height: 235px;
            @include min(992) {
                min-height: 303px;
                padding: 33px;
            } 
        
            .img_wrapper{
                max-width: 45px;
                padding-bottom: 45px;
                position: relative;
            }

            @include min(1200) {
                &:hover{
                    border-image: linear-gradient(0deg, #1158BA  0%, #082752 );
                    border-image-slice: 1;
                }
              }
           
        }

    }
    &_title{
        font-size: 22px;
        font-weight: 600;
        color: #000000;
        @include lineHeight(22,32);
        margin-bottom: size(16);
    }
    &_text{
        font-size: 18px;
        font-weight: 500;
    }
}