@import "../../styles/util";


.ziva_platforms{
    padding: 60px 0 35px;
    background: #EAF0EE;
    position: relative;
    @include min(992) {
        padding: 90px 0;
    }
    @include min(1600) {
        padding: 120px 0;
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        line-height: 1.4;
        max-width: 1036px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include min(992) {
            font-size: size(40);
        }
        @include min(1600) {
            font-size: size(50);
            line-height: 1.6;
        }
    }

    .platform_top_left{
        position: absolute;
        width: 471px;
        height: 389px;
        left: 0;
        top: 0;
        pointer-events: none;
        display: none;
        img{
              object-fit: contain;
        }
        @include min(992) {
            display: block;
        }  
  }
  .platform_bottom_left{
      position: absolute;
      width: 800px;
      height: 695px;
      left: 0;
      bottom: 0;
      pointer-events: none;
      display: none;
      @include min(992) {
            display: block;
        } 
        img{
                object-fit: contain;
                object-position: bottom left;
        }  
    }

    .platform_bottom_right{
        position: absolute;
        width: 701px;
        height: 671px;
        right: 0;
        bottom: 0;
        max-width: 100%;
        pointer-events: none;
        img{
            object-fit: contain;
            object-position: bottom right;
        }  
    }

    :global{
        .row{
            @include min(1200) {
                --bs-gutter-x: 47px;
            }
        }
    }

}