@import "../../styles/util";

.recent_news{
    &_section{
        --section-top-space: 30px;
        --section-bottom-space: 50px;

        @include min(992) {
            --section-top-space: 70px;
            --section-bottom-space: 70px;
        }

        .title{
            font-weight: 400;
            font-size: 30px;
            margin-bottom: size(30);
            max-width: 70%;
            @include min(992) {
                font-size: size(40);
            }
        }
    }
    &_wrapper{
        padding-top: size(35);
        @include min(992) {
            padding-top: size(50);
        }
    }
}

.topics_list{
    padding-left: 0;
    list-style: none;
    column-gap: 8px;
    flex-wrap: wrap;
    margin: 0;
    @include min(992) {
        column-gap: 15px;
    }
    &_item{
       
        border: 1px solid var(--black);
        border-radius: 20px;
        transition: 0.3s all ease-in-out;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #fff 50%);
        background-position: 0 0;
        background-size: 200% auto;
        transition: background 0.55s cubic-bezier(0, 0.545, 0.19, 1), color 0.3s;
        line-height: 1;
        cursor: pointer;
        margin-bottom: 10px;
        display: flex;
        @include min(992) {
            margin-bottom: size(15);
        }
        
        @include min(1200) {
            @include hover{
                background-color: #000000;
                color: var(--black);
                a,button{
                    color: var(--white);
                }
            }
        }
       
        &:global(.active){
            background-color: #000000;
            color: var(--black);
            a,button{
                color: var(--white);
            }
        }
        a, button{
            padding: 8px 23px 9px;
            color: var(--black);
            font-size: 14px;
            font-weight: 500;
            background: transparent;
            border: 0;
        }  

    }
}




.news_blockshimmer{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: size(35) 0%;
    display: block;
    margin-top: size(35);	
    @include min(992) {
        padding: size(80) 6%;
        margin-top: size(50);	
    }
    &_wrapper{
        --bs-gutter-x: 40px;
        align-items: center;
        @include min(992) {
            --bs-gutter-x: 50px;
        }
    }
}

.img_section{
    .img_wrapper{
        max-width: 411px;
        height: 224px;
        opacity: 1;
        overflow: hidden;
        @include min(992) {
            width: 88%;
        }
        figure{
            @include aspectRatio(411,224);
            img{
                object-fit: cover;
                transition: 0.5s ease-in-out;
            }
        }
    }
    @include hover{
        .img_wrapper{
            figure{
                .main_img{
                    // opacity: 0;
                }
            }
        }
    }
}

.content_section{
    max-width: 700px;
    .category{
        color: #00B195;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: size(10);
        @include min(992) {
            font-size: 15px;
        }
    }
    .title{
        font-size: 24px;
        font-weight: 500;
        color: var(--black);
        line-height: 1.5;
        @include min(992) {
            font-size: size(36);
        }
    }
    .name{
        color: var(--black);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        line-height: 1.3;
        width: 80px;
        @include min(992) {
            font-size: 15px;
        }
    }
    .date{
        color: #6E6E6E;
        font-size: 12px;
        font-weight: 500;
        width: 100px;
        @include min(992) {
            font-size: 13px;
        }
    }
}

.loadmorebtn{
    border: 0;
    background: transparent;
}

.arrow_text{
    :global{
        .arrow_links{
            border: 1px solid var(--black);
        }
    }
    @include min(1200) {
        &:hover{
            :global{
                .arrow_links{
                    border: 1px solid transparent;
                }
            }
        }
    }
}