@import "../../styles/util";

.blogdetail {
    --section-top-space: 0px;
    --section-bottom-space: 0px;
    position: relative;

    @include min(992) {
        --section-top-space: 0px;
        --section-bottom-space: 80px;
    }

    @include min(1600) {
        --section-top-space: 0px;
        --section-bottom-space: 100px;
    }

    &_wrap {
        display: flex;
      position: relative;
        .banner {
                padding-bottom: size(30);
                border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
                padding-top: size(40);
                @include min(992) {	
                    padding-bottom: size(50);
                    padding-top: size(66);
                }  
        }

        .content {
            padding-top: size(30);
            @include min(992) {	
                padding-top: size(50);
                display: flex;
            }
            .share {
                padding-right: 67px;

                p {
                    font-size: 16px;
                    font-family: var(--teritary-font-family);
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    margin-bottom: 30px;
                    column-gap: 6px;
                    @include min(992) {	
                       display: block;
                    }

                    li {
                        margin-bottom: 8px;
                    }
                }

                .sharelink {
                    width: 37px;
                    height: 37px;
                    border-radius: 100%;
                    border: 1px solid rgba($color: #000000, $alpha: .3) !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover{
                        svg {

                            path {
                                fill: #1CB195;
                            }
                        }
                    }
                }

                svg {

                    path {
                        fill: #000;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    &_trending {
        padding-top: 60px;
           @include min(992) {	
                padding-top: 130px;
                position: sticky;
                top: 0%;
            }
    }

    &_details {
        @include min(992) {
            max-width: 91%;
        }

    }
}

.blog_detail {
    .share {
        display: none;
    }
}

.news_detail {
    .share {
        display: block;
    }

    .blogdetail_trending {
        display: none;
    }
    .blogdetail_wrap{
        justify-content: center;
    }
    .blogdetail_details {
        max-width: 1004px;
        margin: auto;

        .descriptions {
                max-width: 796px;
            
        }
    }
}

.clipboard{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}