@import "../../styles/util";

.home_letstalk {
        --section-top-space: 60px;
        --section-bottom-space: 60px;
        overflow: hidden;
        position: relative;
        background-color: #FFFFFF;
        // border-top: 1px solid rgba(162, 162, 162, 0.3);
        border-bottom: 1px solid rgba(162, 162, 162, 0.3);

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
        // border-top: 1px solid #A2A2A2;
        border-bottom: 1px solid #A2A2A2;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space: 130px;
    }
    

    .left {
        max-width: 321px;
        margin-bottom: 35px;
        @include min(992){
            max-width: 58%;
        }
        .title {
            font-size: size(38);
            
            line-height: 1.2;
            @include min(1600) {
                font-size: size(55);
                margin-bottom: 0;
            } 
        }
        .sub_title {
            font-size: size(22);
            margin-top: 20px;
            @include min(992) {
                margin-top: 40px;
            } 
        }
    }

    &.axle_page{
        .left{
            max-width:392px;
            @include min(992){
                max-width: 71%;
            }
            .title{
                font-size: 30px;
                @include min(992){
                    font-size: size(40);
                }
                @include min(1600){
                    font-size: size(50);
                }
            }
        }
    }

    &.statim_page{
        .left{
            max-width:392px;
            @include min(992){
                max-width: 71%;
            }
            .title{
                font-size: 30px;
                @include min(992){
                    font-size: size(40);
                }
                @include min(1600){
                    font-size: size(50);
                }
            }
        }
    }
    &.ziva_loan_page{
        background-color: var(--white);
        .left{
            max-width: 100%;
            .title{
                font-size: 30px;
                font-weight: 400;
                line-height: 1.4;
                max-width: 480px;
                @include min(992){
                    font-size: size(40);
                    max-width: 90%;
                }
                @include min(1600){
                    font-size: size(55);
                }
            }
            .sub_title{
                @include min(1024){
                    max-width: 60%;
                }
            }
        }
    }
    &.kazito_page{
        background-color: var(--white);
        .left{
            max-width:479px;
            @include min(992) {
                max-width: 87%;
            }
            .title{
                font-size: 30px;
                font-weight: 400;
                @include min(992) {
                    font-size: size(40);
                }
                @include min(1600) {
                    font-size: size(55);
                }
            }
            .sub_title {
                max-width:408px;
                @include min(992) {
                    font-size: size(24);
                    max-width: 74%;
                }
            }
        }

    }

    &.solution_details_page{
        border: 0;
        .left{
            max-width:362px;
          
        }
    }

    &.digitallearning_page{
        .left{
            max-width:90%;

            .title{
                font-size: 30px;
                font-weight: 400;
                line-height: 1.4;
                @include min(992){
                    font-size: size(40);
                }
                @include min(1600){
                    font-size: size(55);
                }
            }
        }
    }

  

}
