@import "../../../../styles/util";

.header {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s all ease;
  padding: 13px 0;
  background: #fff;
  font-family: var(--teritary-font-family);
  box-shadow: 0px 1px 3px rgba(0, 96, 59, 0.1);
  min-height: 65px;
  @include min(1200) {
    box-shadow: 0px 1px 3px rgba(0, 96, 59, 0.1);
  }

   // @include max(1199.98) {
  //   padding: 25px 0;
  // }

  &_scrolled {
    border-color: #eee;
  }

  .header_nav {
    padding: 0;
  }

  &.header_scrolled {
    padding: 13px 0;
    background: var(--white);
    // @include max(1199.98) {
    //   padding: 15px 0;
    // }
    :global(.nav-link) {
      color: var(--black);
    }

    

    :global(.navbar-toggler) {
  
      span {
        background: var(--black);
      }
    }

  }
  :global(.container) {
    
    @include min(576) {
      max-width: 95%;
    }
    @include min(1600) {
      max-width: 1560px;
    }
  }

  :global(.navbar-brand) {
    padding: 0;
  }



  :global(.dropdown-toggle) {
    display: inline-flex;
    align-items: center;
  }

  :global(.navbar-toggler) {
    border: none;
    
    align-items: center;
    flex-direction: column;
    --bs-navbar-toggler-focus-width: 0;
      padding: 0;
      padding-right: 5px  ;
    @include max(1199.98) {
      display: flex;
    }


  }

  .nav_brand {
    width: 160px;
    @include min(992) {
      width: 260px;
    }
  }

  .img_wrap {
    @include aspectRatio(260, 55);
  }
  
  :global(.navbar-nav) {
    --bs-nav-link-color: var(--black);
    --bs-nav-link-font-size: 15px;
    --bs-navbar-nav-link-padding-x: 14px;

    @include min(1200) {
      --bs-navbar-nav-link-padding-x: 25px;

      :global(.nav-link) {
        margin: 0 20px  !important;
        padding: 0 !important;
        @include min(1600) {
          margin: 0 30px  !important;
        }
      }
      
    }

   

  }


  :global(.navbar) {
    --bs-navbar-padding-y: 0.2rem;
  }

  :global(.nav-link) {
    color: #1F1F1F;
    font-size: 18px;
    font-weight: 400;
    transition: none;
    @include min(1200) {
      font-size: 16px;
    }
    @include min(1600) {
      font-size: 18px;
    }
    // &:focus,
    &:hover {
      color: #2C3B9B;
    }
    &:global(.active){
      color: #2C3B9B !important;
      // font-weight: 600;
    }
  }


  &:global(.header-2){
    //   background: var(--white);
      // padding: 10px 0;
      // border-bottom: 1px solid rgba(0, 96, 59, 0.1);
      box-shadow: 0px 1px 3px rgba(0, 96, 59, 0.1);
      @include min(1200) {
        box-shadow: 0px 1px 3px rgba(0, 96, 59, 0.1);
      }
      :global(.nav-link) {
        // color: var(--dark-blue);
      }

      & + :global(.spacer){
        // padding-top: 100px;
    }
    &:global(.rm-space){
        & + :global(.spacer){
            // padding-top: 0px !important;
        }

    }
    :global(.navbar-toggler) {
  
      // span {
      //   background: var(--black);
      // }
    }
  }
  :global(.btn){
      // min-width: 190px;
      font-family: var(--secondary-font-family);
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out , border 0.3s ease-in-out;
  
      @include min(1200) {
        --bs-btn-padding-x: 0.8rem;
        --bs-btn-padding-y: 0.65rem;
      }
    }
}


.flag_item {
  display: inline-flex;
  align-items: center;

  &_img {
    width: 21px;
    height: 17px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
      object-fit: cover;
    }
  }

  &_info {
    padding-left: 8px;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: var(--black);
  }

}

.offcanvas {
  // transition: initial !important;
   top: 80px !important;
   --bs-offcanvas-width: 100% !important;
   border: 0 !important;


  @include max(1200) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--black);
      transform: scalex(0);
      transform-origin: right;
      transition: 0.8s all cubic-bezier(0.63, 0.35, 0.3, 1);
      display: none;
    }


    &:global {
      &.show {
        &::before {
          transform: scalex(1);
        }

        .nav-link {
          &::before {
            // transform: initial;
          }
        }

        .button-sm {
          transform: translateY(0%);
        }
      }
   
    }

    :global {
      
      .dropdown {
        position: absolute;
        right: 40px;
      }
      .offcanvas {
        &-body {
          z-index: 11;
          position: relative;
          padding: 50px 20px;
        }

        &-header {
          z-index: 11;
          position: relative;
        }
        &-title{
            color: var(--white);
        }
     
      }

      @for $i from 1 through 8 {
        .nav-link:nth-of-type(#{$i}) {
          &::before {
            transition-delay: ($i) * (0.051s);
          }
        }
      }

      .button-sm {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        border-radius: 0px;
        padding: 18px 10px;
        transform: translateY(100%);
        transition: 0.4s all ease;
        transition-delay: 0.5s;
      }

      .nav-link {
        --bs-nav-link-color: var(--white);
        position: relative;
        color: var(--white);
        overflow: hidden;
        font-size: 24px;
        font-weight: 300;

        &::before {
          content: attr(data-link);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          // color: $text-dark;
          display: flex;
          align-items: center;
          transform: translateY(100%);
          transition: 0.4s all ease;
          // transition-delay: 0.4s ;
        }
      }
    }
  }
}

.header.header_scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //  transform: translateY(-100%);
}
// .header.header_scrolled.anim_header{
//     transition: 0.8s all ease;
//    transform: translateY(0);
//   }
  


  .submenu{
    padding: 60px 30px 20px;
    position: absolute;
    top: 67px;
    background: var(--white);
    left: 0;
    width: 100%;
    box-shadow: 0px  2px 4px rgba(0, 35, 75, 0.05);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    // transition: 0.2s ease-in-out;

    &::after{
      content: "";
      position: absolute;
      top: 0px;
      background: var(--white);
      left: 0;
      height: 2px;
      width: 100%;
      box-shadow: 0px 2px 2px rgba(0, 35, 75, 0.1);
    }
    .menuconatiner{
        max-width: 1120px;
        margin: auto;
        font-family: var(--secondary-font-family);
    }

    .menuWrapper{
      display: flex;
      .menuContentLeft{
        max-width: 300px;
        flex: 0 0 300px;
          .lefttitle{
              font-size: size(32);
              margin-bottom: size(20);
          }
          p{
            opacity: 0.75;
          }
      }

      .menuContentRight{
        padding-left: size(100);
        width: 100%;
        ul{
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
              flex: 0 0  45%;
              max-width: 45%;
              list-style: none;
              margin-bottom: size(55);

              &.nomarginli{
                margin-bottom: size(35);
              }
    
          }
        }
          .menu_box{
              display: flex;
              align-items: flex-start;
              height: 100%;
              .left{
                margin-right: 20px;
                position: relative;
                flex: 0 0 22px;
                figure{
                  padding-bottom: 22px;
                  margin: 0;
                  position: relative;
                }
              }
              .right{
                  position: relative;
                  padding-bottom: 25px;
                  width: 100%;
                  height: 100%;
                  span{
                    font-size: 16px;
                    margin-bottom: 15px;
                    display: block;
                    font-weight: 500;
                    color: #000000;
                  }
                  p{
                    font-size: 15px;
                    font-weight: 400;
                    margin: 0;
                    line-height: 1.4;
                    color: rgba(0, 0, 0, 0.8);
                  }

                  &:before{
                    position: absolute;
                    content: "";
                    background: #DBDBDB;
                    height: 1px;
                    width: 100% ;
                    bottom: 0;
                  }
                  &:after{
                    position: absolute;
                    content: "";
                    background: #2C3B9B;
                    height: 1px;
                    width: 0% ;
                    bottom: 0;
                    transition: 0.3s ease-in-out;
                  }
                  &.nospan{
                    span{
                      // margin-bottom: 0;
                    }
                  }
              }
             
              &:hover, &:global(.active){
                .right{
                  &:after{
                    width: 100%;
                  }
                }
              }
          }
      }

    }

  
  }

  // .Menuactive{
  //   .submenu{
  //     opacity: 1;
  //     visibility: visible;
  //     top: 67px;
     
  //   }
  // }

  .submenu_li{
   
    :global{
      .nav-link{
          position: relative;
          margin-right: 10px ;
          padding-right: 10px !important;
          &:after{
            content: "";
            border-style: solid;
            border-width: 4px 6px 4px 0;
            border-color: transparent #002D70 transparent transparent;
            position: absolute;
            right: -10px;
            top: 8px;
            transform: rotate(-90deg);
            opacity: 0;
          }
          &:before{
            content: "";
            display: block;
            width: calc(100% + 30px);
            height: calc(100% + 15px);
            position: absolute;
            top: 0px;
            left: -15px;
            pointer-events: none;
            z-index: -1;
          }
      }

     
      
    }
    // &:global{
    //   > .nav-link{
    //     &:hover{
    //       color: #1F1F1F;
    //     } 
    // }
    // }



    // &:hover{
      .submenu.activemenu{
            opacity: 1;
            visibility: visible;
            top: 67px;
            transition: 0.3s ease-in-out 0.2s;
           }

           :global{
            .nav-link{
                &:before{
                  pointer-events: all;
                  height: calc(100% + 12px);
                  width: calc(100% + 30px);
                }
            }
          }
    // }

  

  }


  .mobile_menu{
    position: fixed;
    height: calc(100vh + 0px);
    width: 100%;
    background: #ffff;
    top: 66px;
    right: -100%;
    padding: 50px 20px 250px;
    border-top: 1px solid #EDEDED;
    overflow-y: auto;
    transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    @include min(992) {
      top: 80px;
    }

    &:after{
      content: "";
      position: fixed;
      height: 250px;
      width: 100%;
      bottom: -170px;
      right: -100%;
      background: #fff;
      pointer-events: none;
    }

    

    &.menu_open{
      right: 0;
      .mob_menu_btn{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.4s ;
      }

      &:after{
        right: 0;
        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
      }

     

    }

    ul{
      padding: 0;
      margin: 0;
      li.NoSubmenu{
        list-style: none;
        border-bottom: 1px solid #EDEDED;
        a{
          font-size: 20px;
          font-weight: 400;
          color: var(--black);
          padding: 24px 0;
          display: block;
        }
      }
    }

    .menu_accordian{
      :global{
          .accordion-item{
              border: 0;
              border-bottom: 1px solid #EDEDED;
              border-radius: 0;
              list-style: none;
          }
          .accordion-body{
              padding: 0;
          }
          .accordion-button{
              padding: 24px 0 ;
              color: var(--black);
              font-size: 20px;
              font-weight: 400;
              line-height: 1.2;

            //   &::after{
            //     position: absolute;
            //     content:'';
            //     background: var(--black);
            //     width: 16px;
            //     height: 2px;
            //     right:0;
            //     top: 32px;
            //     transition: 0.3s ease-in-out;  
            // }

            // &::before{
            //     position: absolute;
            //     content:'';
            //     background: var(--black);
            //     width: 2px;
            //     height: 16px;
            //     right: 7px;
            //     top: 25px; 
            //     transform: rotate(-90deg); 
            //     transition: 0.3s ease-in-out;              
            // }
            &.collapsed{
                // &::after{
                //     // background: var(--black);
                // }
                &::before{
                    transform: rotate(0deg);  
                    // background: var(--black);            
                }
            }
          }
          .accordion-button:not(.collapsed) {
              // color: var(--bs-accordion-active-color);
              background-color: transparent;
              box-shadow: none;
          }

          
          .accordion-button:focus{
              border-color: #fff;
              box-shadow: none;
          }

          .accordion-header{
            &.active{
                .accordion-button{
                  color: #2C3B9B;
                }
            }
          }

          .show{
            position: relative;
            &::after{
              position: absolute;
              content: '';
              height: 1px;
              width: 100%;
              bottom: 0;
              background: var(--black);
            }
          }
      

           
      }
      
      ul.ListAccordian{
        padding-bottom: 15px;
        padding-left: 15px;
        li{
            border: 0;
            list-style: none;
            a{
                color: #454545;
                font-size: 18px;
                font-weight:400 ;
                padding: 10px 0;
                display: block;
            }
            &:global(.active){
              a{
                color: #2C3B9B;
              }
            }
        }
    
}
  li{
    &:global(.active){
      a{
        color: #2C3B9B;
      }
    }
  }
  }

  .mob_menu_btn{
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    padding: 22px 20px;
    background: #fff;
    opacity: 0;
    transform: translateY(120px);
    transition: transform 0.6s ease-in-out;
    z-index: 3;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    :global(.btn){
      display: block;
      background-color: var(--orange-icon);
      color: #fff;
      border-color: var(--orange-icon);
    }
     
  }

  }

  .menu_mob_right{
    display: flex;
    align-items: center;
    // padding-top: 15px;
    &.menu_open_closecall{
      .call_btn{
        opacity: 0;
        visibility: hidden;
      }
    }

    .hamburg{
      padding: 5px;
      span {
        display: block;
        width: 35px;
        height: 2px;
        background: var(--black);
        margin-bottom: 8px;
        transition: 0.3s ease-in-out;

        &:last-of-type {
          margin-bottom: 0;
          // width: 25px;
          // margin-left: auto;
        }
      }
      &.menu_open{
        span{

          &:nth-child(1){
            transform: rotate(45deg) translate(5px, 5px);
          }
          &:nth-child(2){
            transform: rotate(-45deg) translate(2px, -2px);
        }
          // &:last-of-type {
          //   opacity: 0;
          //   visibility: hidden;
          // }

        }
      }
    
    }
  }

  .call_btn{
    border: 1px solid #DEDEEF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 18px;
    position: relative;
   
    @include min(1200) {
      width: 44px;
      height: 44px;
      &:hover{
        animation: pulse-animation 2s infinite;
      }
    }
    svg{
        fill: #1B7AC7 !important;
    }
    .close_icon{
      display: none;
      transform: scale(0.7);
    }

    .callheadwrap{
      filter: drop-shadow(-1px 6px 3px rgba(63, 63, 191, 0.1));
      position: absolute;
      top: 55px;
      right: -30px;
      opacity: 0;
      transition: 0.5s ease-in-out;
      z-index: 1;
      visibility: hidden;

      @include min(1200) {
        right: auto;
        left: -30px;
      }

        .call_icon{
          display: flex;
        }
        .call_title{
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 8px;
          color: #2F2F2F;
        }
        p{
          color: #4E4E4E;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .call_box{
          font-size: 18px;
          font-weight: 700;
          color: #3F40BF;
            svg{
              fill: #3F40BF !important;
              margin-right: 10px;
            }
        }

        .callclipshape{
          background: #fff;
          width: 264px;
          padding: 25px 30px;
          font-family: var(--primary-font-family);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 80%, 80% 100%, 0% 100%, 0% 50%);
          // opacity: 0;
          // visibility: hidden;
          transition: 0.5s ease-in-out;
          
        }
    }

    &.isopen{
      .close_icon{
        display: block;
      }
      .call_icon{
        display: none;
      }
      .callheadwrap{
          opacity: 1;
          top: 60px;
          visibility: visible;
          @include min(1200) {
            top: 70px;
          }
      }
    }
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
     
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);

    }
  }

  