@import "../../styles/util";

.relatedtopic{
    padding-bottom: size(60);
    overflow: hidden;
    @include min(992) {	
        padding-bottom: size(80);
    }
    :global(.container){
        @include min(992) {	
            border-top: 1px solid rgba($color: #000000, $alpha: .2);
        }
       
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: size(60);  
        margin-bottom: size(30);
        @include min(992) {	
            padding-top: size(88);  
        }
        .title{
            font-size: 24px;
        }
        button{
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin-left: 21px;
            width: 40px;
            height: 40px;
            &.prev{
                transform: rotate(180deg);
            }
            &:global(.swiper-button-disabled){
              
                 svg{
                    path{

                        fill: rgba($color: #000000, $alpha: .38)!important;
                    }
                 }
            }
            @include min(1200) {
                &:hover{
                    path{
                        fill:#F10829;
                    }
                }
            }
        }
    }
    &_slider{
        :global{
            .swiper{
                @include max(576) {	
                    overflow: visible;
                }
                .swiper-scrollbar{
                    height: 2px;
                    @include min(992){
                        display: none;
                    }
                    .swiper-scrollbar-drag{
                        background: #000;
                    }
                }
            }
        }
    }
}