@import "../../styles/util";

.fintechabout {
    overflow: hidden;
    position: relative;

    .top_wrapper{
        position: relative;
        padding-top: size(45);
        @include min(992) {
            padding-top: size(55);
        }
    }


    .top_head{
        @include min(768) {
            max-width: 65%;
       }
        .title_heading{
            font-weight: 400;
            margin-bottom: 15px;
            @include min(1600) {
                font-size: size(50);
            }
            @include max(767.98) {
                br{
                    display: none;
                }
            }
            span{
                background: -webkit-linear-gradient( 50deg,#2EBDB9 -20%, #000000);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

       
    }


    
    .row_top {
        padding: 0px 0 60px;
        // align-items: center;
        @include min(992) {
            padding: 50px 0 90px;
        }

        @include min(1600) {
            padding: 70px 0 120px;
        }
    }


    .left {
        max-width: 291px;
        margin: auto;
        position: relative;
        padding-top: 50px;
            @include min(768) {
                max-width: 527px;
                margin-left: auto;
            }
            @include min(992) {
                padding-top:20px;
            }

        .shape {
            position: relative;
            z-index: 2;

            .shape_figure {
                @include aspectRatio(251, 170);
                margin-bottom: 0;
                clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
                    @include min(768) {
                        @include aspectRatio(588, 392);
                        clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                   }
            }

        }

        img{
            transform: scale(1.5);  
         
        }

        &:global(.visible){
            img{
                transform: scale(1);
                transition: 2s cubic-bezier(.8,0,0,1);
            }
        }
         

    }



    .right {
        max-width: 660px;

        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 25px;
            line-height: 1.58;
            font-size: 20px;
            font-weight: 400;
            @include min(992) {
                font-size: size(24);
                font-weight: 500;
            }
        }
    }




    &.insuretechabout{
        .top_head{
            .title_heading{
                span{
                    background: -webkit-linear-gradient( 50deg,#F5C753 , #000000 60%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
            }
        }

        .bg_about_insurtech{
            width: 100%;
            height: 100%;
            display: none;
            pointer-events: none;
            position: absolute;
            bottom: 0;
            right: 0;
            @include min(992){
                display: block;
            }
            img{
                position: relative !important;
                object-fit: cover;
                object-position: bottom right;
            }   
        }


    }

    
    &.retailtechabout{
        .top_head{
            .title_heading{
                span{
                    background: -webkit-linear-gradient( 50deg,#1E53FF , #000000 60%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
            }
        }

        .bg_about_insurtech{
            width: 100%;
            height: 100%;
            display: none;
            pointer-events: none;
            position: absolute;
            bottom: 0;
            right: 0;
            @include min(992){
                display: block;
            }
            img{
                position: relative !important;
                object-fit: cover;
                object-position: bottom right;
            }   
        }

    }

    &.digitallearningabout{
        .top_head{
            .title_heading{
                span{
                    background: -webkit-linear-gradient( 50deg,#E68A3E , #000000 60%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
            }
        }

        .bg_about_insurtech{
            width: 100%;
            height: 100%;
            display: none;
            pointer-events: none;
            position: absolute;
            bottom: 0;
            right: 0;
            @include min(992){
                display: block;
            }
            img{
                position: relative !important;
                object-fit: cover;
                object-position: bottom right;
            }   
        }

    }
    


}