@import "../../styles/util";

.mtv_service{
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 90px;
        background-image: url(/images/Immersivetech/business_immersive_bg.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include min(1600) {
        --section-top-space: 140px;
        --section-bottom-space:130px;
    }
    &_body{
        .title{
            margin-bottom: 0;
            @include min(768){
                margin-bottom: 20px;
            }
            @include min(1600){
                font-size: size(50);
                
            }
        }
        a{
            margin-top: size(35);
            @include min(1600){
                margin-top: size(60);
            }
        }
    }

}



.features_wrapper{
    --bs-gutter-y: 35px;
   
    @include min(768){
        --bs-gutter-x: 40px;
        --bs-gutter-y: 50px;
    }
    .features_card{
        div{
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            
        }
        &:nth-child(1){
            div{
                border-top: 0px solid rgba(0, 0, 0, 0.2);
            }
        }
        @include min(768){
            &:nth-child(2){
                div{
                    border-top: 0px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
        @include min(992){
            &:nth-child(3){
                div{
                    border-top: 0px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
   
}

.button_wrapper{
    :global(.btn){
        border: 1px solid var(--black);
        background: transparent;
        color: #000;

        span{
            font-weight: 600;
        }
        &:hover{
            color: #000;
            background: transparent;
            border-color:#000;
        }
    }

}
