@import "../../styles/util";


.home_discover{
    --section-top-space: 360px;
    --section-bottom-space: 50px;
    overflow: hidden;
    position: relative;
    @include min(992) {
        --section-top-space: 80px;
        --section-bottom-space: 120px;
    }
    @include min(1600) {
        --section-top-space: 150px;
        --section-bottom-space:180px;
    }
    .left{
        max-width: 760px;
        width: 100%;
        @include min(768) {
            width: 60%;
          }
        .title{

        }
    }

    &::after{
        position: absolute;
        content: '';
        background: #0C1427;
        height: 220px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: -1;
        @include min(992) {
            width: 35%;
            height: 100%;
          }
    }

    .top_right_bg{
        &:before{
           left: auto;
           right: 0;
           opacity: 0.4;
           z-index: 0;
           
           background: radial-gradient(circle, #1B7AC7 0%, rgba(56, 60, 69, 0) 70%);
           @include max(991.98) {
                right: -10rem;
                top: -30rem;
                width: 400px;
                height: 400px;
            }
        }
    }
   
    .discover_wrap{
        padding-top: size(20);
        @include min(992) {
            padding-top: size(60);
          }
    }

    .cont_wrap{
        position: relative;
    }

    .accordion_tech{
        :global{
            .accordion{
                
                z-index: 1;
                @include min(992) {
                    position: relative;
                  }
            }
            .accordion-button{
                border-radius: 0;
                background: transparent;
                box-shadow: none;
                padding:0 ;
                font-size: size(20);
                font-weight: 500;
                color: var(--black);
                padding: 25px 50px 25px 0;
                pointer-events: none;
                &.collapsed{
                    pointer-events: all;
                }
                @include min(992) {
                    font-size: size(30);
                    padding: 35px 50px 35px 0;
                  }
                  &:after{
                    
                    @include min(992) {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.616' height='10.977' viewBox='0 0 22.616 10.977'%3E%3Cg id='Group_140993' data-name='Group 140993' transform='translate(0.75 1.061)'%3E%3Cg id='Group_129199' data-name='Group 129199'%3E%3Cpath id='Path_110564' data-name='Path 110564' d='M877.872,1469.136l4.555,4.339H861.621' transform='translate(-861.621 -1469.136)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3Cpath id='Path_110566' data-name='Path 110566' d='M9182.021-19553.027l-4.819,4.518' transform='translate(-9161.215 19557.365)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
                    transform: none;
                    background-position: center;
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    right: 0;
                }
                @include max(991.98) {
                   
                    height: 17px;
                    width: 1px;
                    position: absolute;
                    content: '';
                    top: 26px;
                    right: 8px;
                    background-color: #000;


                  }
                
            }
            &:before{
                @include max(991.98) {
                    height: 1px;
                    width: 17px;
                    position: absolute;
                    content: '';
                    top: 34px;
                    right: 0;
                    background-color: #000;
                    
                  }
            }
            }
            .accordion-item{
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid rgba(112, 112, 112, 0.3);
                max-width: 100%;
                background: transparent;
                @include min(992) {
                    max-width: 42%;
                  }
            }
            .accordion-body{
               padding: 0;
                p{
                    font-size: 16px;
                    font-weight: 500;
                    @include min(992) {
                        font-size: 18px;
                      }
                      + p{
                            margin-top: 20px;
                      }
                }

                
            }
            .show{
                .accordion-body,.cont_wrap{
                  
                    &:after{
                        width: 100%;
                        
                    }
    
                    
                }

            }
         
            .accordion-header{

            }

            .accordion-button:not(.collapsed)::after{
                transform: rotate(-90deg);
                @include min(992) {
                    transform: none;
                  }
            }
        }
        .cont_wrap{
            position: relative;
            padding: 0px 0 20px;
            &:after{
                position: absolute;
                content: '';
                background: #000;
                height: 1px;
                width: 0%;
                bottom: -1px;
                left: 0;
                transition: 0.5s ease-in-out;
            }
        }
        :global(.show){
            .cont_wrap{
                &::after{
                    width: 100%;
                }
            }
            .right_image{
                .figure_wrap{
                    .figure_right{
                            transform: scale(1);
                            // opacity: 1;
                            
                    }

                }
                
            }
            .circle_box{
                opacity: 1 !important;
                transition-delay: 0.2s ;
            }
          
        }
        .right_image{
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            top: 60px;
            width: calc(100% - 40px);
            z-index: 1;
            @include min(576) {
                width: 50%;
              }
            @include min(992) {
                left: auto;
                right: 0;
                top: 0;
                transform: none;
              }
            .figure_wrap{
                width: 100%;
                height: 250px;
                position: relative;
                overflow: hidden;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 75%, 80% 100%, 0% 100%, 0% 60%);
                @include min(992) {
                    width: 100%;
                    height: 488px;
                  }
                img{
                    position: relative;
                }
                .figure_right{
                    object-fit: cover;
                    transform: scale(1.3);
                    transition:  0.6s transform  ease-in-out;
                    // opacity: 0;
                }
                // &::after{
                //     position: absolute;
                //     content: "";
                //     right: -1px;
                //     bottom: -1px;
                //     width: 0;
                //     height: 0;
                //     border-right: 60px solid #ffffff;
                //     border-top: 60px solid transparent;
                //     border-left: 60px solid transparent;
                //     @include min(992) {
                //         border-right: 100px solid #0C1427;
                //         border-top: 100px solid transparent;
                //         border-left: 100px solid transparent;
                //       }
                // }
            }
            .circle_box{
                position: absolute;
                right: 75px;
                top: -45px;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                opacity: 0;
                display: none;
                @include min(992) {
                  display: block;
                  }

                .hover_circle{
                    width: 100%;
                    height: 100%;
                    background: #1B7AC7;
                    border-radius: 50%;
                    position: absolute;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: scale(0.5);
                    transition: 0.3s ease-in-out;
                    opacity: 0;
                    span{
                        font-size: 15px;
                        color: var(--white);
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }

                .circle_discover{
                    transition: 0.4s ease-in-out;
                    opacity: 1;
                }

                &:hover{
                    .circle_discover{
                       transform: scale(0.7);
                       opacity: 0;
                    }
                    .hover_circle{
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }
              
              

            }
        }
    }
}


