@import "../../styles/util";

.description{
    .content_wrap{
        display: flex;
        margin-top: 40px;
        @include min(992){
            margin: 60px 0;
        }
        .left_bar{
            display: none;
            @include min(992){
                width: 20%;
                display: block;
            }
            .share{
               
                p{
                    margin-bottom: 12px;
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                }
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li{
                        padding: 0;
                        margin: 0;
                        display: block;
                        margin-right: 7px;
                        margin-bottom: 8px;
                        @include min(1200) {
                            display: inline-block;
                          }
                        .sharelink{
                           
                            width: 37px;
                            height: 37px;
                            border-radius: 100%;
                            border: 1px solid rgba($color: #000000, $alpha: 0.3) !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg{
                                path{
                                    fill:#000;
                                    transition: all .2s ease-in-out;
                                }
                            }
                            &:hover{
                                svg{
                                    path{
                                        fill:var(--color-darkgreen)
                                    }
                                }
                            }
        
                        }
                    }
                }
            }
        }
        .right_bar{
            width: 100%;
          
            @include min(992){
                max-width: 900px;  
       
            }
            .overview{
                .title{
                    font-size: 24px;
                    margin-bottom: size(20);
                }
                p{
                    margin-bottom: 0;

                }
              
                padding-bottom: 40px;
            }
            .details{
                padding-top: 40px;
                padding-bottom: 40px;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                h1,h2,h3,h4,h5,h6,p,ul,ol{
                    padding: 0;
                    margin: 0;
                    color: #061319;
                }
                b{
                    font-weight: 500!important;
                    font-size: 17px;
                    @include min(992){
                        font-size: 18px;
                    }
                }

                li{
                    margin-bottom: 15px;
                    line-height: 1.7;
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    font-size: 16px;
                    @include min(992){
                        font-size: 18px;
                    }
                }
                ul,ol{
                    padding-left: 20px;
                    list-style-type:square ;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6{
                    font-size: 20px;
                    font-weight: 500;
                    @include min(992) {	
                        font-size: 24px;
                    }
                    &+p,
                    &+ul,
                    &+ol{
                        margin-top: size(20);
                    }
                }
                p{
                    color: #061319;
                    font-size: 16px;
                    @include min(992){
                        font-size: 18px;
                    }
                    &+p,
                    &+ul,
                    &+ol{
                        margin-top: size(20);
                    }
                  
                }
                ul,ol{
                    li{
                        color: #061319;
                    }
                    &+p{
                        margin-top: size(20);
                    }
                }
                ul,ol,p{
                    &+h1,
                    &+h2,
                    &+h3,
                    &+h4,
                    &+h5,
                    &+h6{
                      margin-top: size(40);
                    }
                }
            }

            .apply_form{
                padding-top: 40px;
                padding-bottom: 50px;
                @include min(768){
                    padding: 50px 0;
                }
                @include min(992){
                    padding: 70px 0;
                }
                .title{
                    margin-bottom: 21px;
                    @include min(1600){
                        margin-bottom: 46px;
                    }
                }
            }
        }
    }
}

.clipboard{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}