@import "../../styles/util";

.rtl_mnt {
    overflow: hidden;
    --section-top-space: 60px;
    --section-bottom-space: 60px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 80px;
        --section-bottom-space: 80px;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space:110px;
    }
    .title {
        margin-bottom: 30px;

        @include min(576) {
            text-align: center;
        }
        @include min(992){
            max-width: 80%;
            margin: auto;
            margin-bottom: size(80);
        }

        @include min(1600) {
            font-size: size(50);
            margin-bottom: size(150);
            text-align: center;
        }

        span {
            background: -webkit-linear-gradient(50deg, #1B7AC7 20%, #000000 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        // @include max(575.98) {
        //     display: block;
        // }
    }
}

&_body {
    .subtitle {
        margin-top: 40px;
        margin-bottom: 20px;
        @include max(991.98){
           font-size: 26px;
        }
        @include min(992){
            margin-top: 0;
            margin-bottom: size(46);
        }

        @include min(1600) {
            
            margin-top: 0;
        }

        span {
            display: block;
            background: -webkit-linear-gradient(50deg, #1B7AC7 12%, #000000 35%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

       
    }

    .desc {
        
        @include min(992) {
            max-width: 96%;
        }

        p {
            margin-bottom: 0;
        }

        p+p {
            margin-top: size(20);
            @include min(992){
                margin-top: size(33);
            }
        }
    }

}

.management {
    margin-top: size(45);
    @include min(992){
        margin-top: size(70);
        --bs-gutter-x: 70px;
    }

    @include min(1600) {
        margin-top: size(100);
    }
}
a{
    display: block;
    max-width: max-content;
    margin-top: 20px;
    @include min(576){
        margin: auto;
        margin-top: size(40);
    }
}
}