@import "../../styles/util";

.detail_banner{
    background-color: var(--input-color);
    padding-bottom: 30px ;
    @include min(992){
        padding-bottom: 46px ;
    }
    .title{
        margin: 0;
        color: #061319;
        margin-top: 30px;
        @include min(1600){
            font-size: size(50);
            margin-top: size(48);
        }
    }
    .position{
       padding: 0;
       margin: 0;
       margin-top: 19px;
       max-width: 265px;
       @include min(992){
        max-width: 100%;
       }
        li{
            display: inline-block;
            margin-right: 18px;
            position: relative;
            font-size: 13px;
            padding-left: 14px;
            font-weight: 600;
            color: #061319;
            margin-bottom: 5px;
            @include min(992){
                font-size: 18px;
                padding-left: 26px;
                font-weight: 500; 
                margin-right: 26px;
            }
            &::before{
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                top: 7px;
                left: 0px;
                background-color: #000;
                @include min(992){
                    top: 12px;
                    left:2px
                }
            }
            &:first-child{
                padding: 0;
                &::before{
                    display: none;
                }
               
            }
        }
    }
    .button{
        margin-top: 30px;
        @include min(992){
            margin-top: 38px;
        }
    }
    .share{
        margin-top: 29px;
        p{
            margin-bottom: 12px;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            li{
                padding: 0;
                margin: 0;
                display: inline-block;
                margin-right: 7px;
                .sharelink{
                   
                    width: 37px;
                    height: 37px;
                    border-radius: 100%;
                    border: 1px solid rgba($color: #000000, $alpha: 0.3) !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    svg{
                        path{
                            fill:#000
                        }
                    }

                }
            }
        }
    }
}

.clipboard{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}