@import "../../styles/util";

.ziva_section{
    --section-top-space: 60px;
    --section-bottom-space: 60px;

    @include min(992){
        --section-top-space: 80px;
        --section-bottom-space: 90px;
    }

    @include min(1600){
        --section-top-space: 100px;
        --section-bottom-space: 110px;
    }
    &.dark_theme{
        background-color: #041B25;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00b2ad17;
            z-index: 0;
            pointer-events: none;
        }
    }
    &.orange_theme{
        background-color: #050300;
    }
    .addon_img{
        width: 375px;
        height: 350px;
        position: absolute;
        top: -2px;
        left: 0;
        pointer-events: none;
        @include min(1024){
            width: 540px;
            height: 700px;
        }
        figure{
            @include aspectRatio(375,350);
            @include min(1024){
                @include aspectRatio(540,700);
            }
        }
        &.top_right{
            left: unset;
            right: 0;
            top: 0;
            transform: translate(50%,-50%);
            @include min(1024){
                width: 978px;
                height: 978px;
            }

            @include max(991.98){
                transform: translate(-50%, -50%);
                left: 0px;
                right: auto;
                opacity: 0.5;
            }


            figure{
                @include aspectRatio(375,350);
                @include min(1024){
                    @include aspectRatio(978,978);
                }
            }
        }
    }
}

.header_wrapper{
    --bs-gutter-y: 20px;
    margin-bottom: 40px;
    @include min(992){
        --bs-gutter-y: 0px;
        --bs-gutter-x: 50px;
        margin-bottom: 55px;
    }
    @include min(1200){
        --bs-gutter-x: 135px;
        margin-bottom: size(100);
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        @include lineHeight(30,44);
        max-width: 80%;
        &.full_title{
            max-width: 100%;
        }
        @include min(992){
            max-width: 65%;
            font-size: size(40);
            @include lineHeight(55,81);
        }
        @include min(1600){
            font-size: size(55);
        }
        &.full_title{
            @include min(1600){
                max-width: 100% ;
                font-size: size(45);
                @include lineHeight(45,76);
            }
            &.kazito_page{
                @include min(1600){
                    font-size: size(55);
                    @include lineHeight(55,76);
                }
            }
        }
    }
    .description{
        font-size: 20px;
        font-weight: 400;
        @include lineHeight(20,30);
        @include min(768){
            margin-top: 0;
        }
        @include min(1024){
            font-size: size(24);
            @include lineHeight(24,38);
        }
    }
    &.product_management{
        .title{
            max-width: 100%;
        }
    }
}

.content_wrapper{
    --bs-gutter-y: 40px;
    @include min(992){
        --bs-gutter-y: 0px;
        --bs-gutter-x: 50px;
    }
    @include min(1025){
        --bs-gutter-x: 80px;
    }
    &:global(.flex-lg-row-reverse){
        :global(.ziva_img_wrapper){
            @include min(1024){
                margin-left: auto;
            }
        }
    }
}