@import "../../../styles/util";


@import "../../../styles/util";

.ins_card_wrapper{
    height: 100%; 
}

.ins_card{
    background: rgb(230,138,62);
    background: linear-gradient(45deg, rgba(230,138,62,1) 0%, rgba(255,255,255,0.25) 100%);
    border-radius: 24px;
    overflow: hidden;
    padding:26px 22px 26px 31px ;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -3;
        border-radius: inherit;
        background-color: #2B2013;
        border: 1.5px solid transparent;
        background-clip: padding-box; 
        transition: 0.3s cubic-bezier(.8,0,0,1);
        @include min(992){
            border: 2px solid transparent;
        }
      }
      
   
    @include min(1200) {
        padding:50px 47px ;
    } 
    .title{
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: size(26);
        font-weight: 500;
        max-width: 150px;
        @include min(992) {
            font-size: size(24);
            max-width: 170px;
            
        } 
    }
    p{
        margin-bottom: 0;
        line-height: 1.55;
    }

    &:hover{
        &:before {
            @include min(1200) {
                border: 6px solid transparent;
            }
        }
    }   
   
}

