@import "../../styles/util";

.home_blog_news{
    --section-top-space: 0px;
    --section-bottom-space: 0px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 0px;
        --section-bottom-space:35px;
    }
    @include min(1600) {
        --section-top-space: 0px;
    }


    .title{
        font-weight: 400;
    }
    .markettop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        z-index: 1;
        @include min(992) {
            padding-bottom: size(30);
          }
        
      }

}


.update_card{
  align-items: center;
  .figure_wrap{
      position: relative;
      @include aspectRatio(702,380);
      overflow: hidden;
      img{
          object-fit: cover;
          transition: 0.6s ease-in-out;
          
      }
  }

  .bottom_wrapper{

  }

 .content{
      padding: 15px  0px;
      color: var(--black);
      @include min(992) {
          padding: size(35) 0px;
        }
      .title_head{
          font-size: 24px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.4;
          margin-bottom: 15px;
          display: block;
          @include min(992) {
              font-size: size(30);
              max-width: 480px;
              margin-bottom: size(20);
            }
            @include min(1600) {
              font-size: size(36);
            }
      }

      .descrp{
        font-weight:300;
        margin-bottom: 25px; 
        p,h1,h2,h3,h4,h5,h6{
            font-size: 16px;
            display: none;
            @include min(992) {
              font-size: 18px ; 
             
            }
        }
        p{
           
            &:nth-child(2){
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;  
              overflow: hidden;

              @include min(992) {
                -webkit-line-clamp: 2;
              
              }

            }

          }
   
      
        
      }
      .link_text{
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        transition: 0.3s ease-in-out;
        @include min(992) {
          font-size: 15px;
        }
      }


      span{
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        font-weight: 500;
        margin-right: 28px;

        &.category{
            color: #00B195;
              @include min(992) {
                font-size: 15px;
              }
        }
    }
    .dateWrap{
      @include max(991) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
       }
    }

 }


  &:hover{
    @include min(1200) {
  
      img{
          transform: scalex(1.05);
          opacity: 0.9;
      }
      .link_text{
        color: #00B195;
        
      }
    }
      
  }

}


.bottom_wrapper{
  margin: size(20) 0  0;
  padding: 20px 0;
  @include min(1600) {
    margin: size(55) 0;
    padding: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .bottom_card{
    display: block;
    margin-bottom: 50px;
    @include min(992) {
      max-width: 85%;
      margin: auto;
  }

      .title_head{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: size(16);
        color: #000000;
      }
  }

  .bot_card{
      position: relative;
      &:after{
        position: absolute;
        content: '';
        height: 1px;
        width: calc(100% - 24px);
        background-color: rgba(0, 0, 0, 0.2);
        left: 12px;
        bottom: 28px;

        @include min(992) {
          height: 90%;
          width: 1px;
          top: 50%;
          left: auto;
          right: 0;
          transform: translatey(-50%);
          bottom: auto;

        }
      }
      &:nth-last-child(1){
        &::after{
            display: none;
        }
      }
  }

  .dateWrap{
    @include max(991.98) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
  }

  span{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 500;
    margin-right: 28px;

    &.category{
        color: #00B195;
        font-size: 13px;
        @include min(992) {
          font-size: 15px;
      }
    }
}

}

.datedot{
  @include max(992) { 
    position: relative;
    &:before{
      position: absolute;
      content: "";
      background-color: #000000;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: -15px;
      top:7px;
    }
  }
}
