@import "../../styles/util";

.homesuccess{
    .success_wrap{
        position: relative;
        .figure_wrap{
            @include aspectRatio(1364,505);
        }

        .cont_wrap{
            padding: 68px;
            background: var(--black);
            position: absolute;
            right: 0;
            bottom: 0;
            color: var(--white);
            max-width: 568px;
            h2{
                line-height: 1.2;
            }
            p{
                font-size: size(20);
            }
        }
    }
}