
@import "../../../styles/util";


.testimonial_popup{
    --bs-modal-width:1062px;
    :global{
        .modal-content{
            border-radius: 0;
            border: 0;
        }
        .modal-dialog{
            @include min(576){
                width: 1062px;
                max-width: 90%;
            }
           
            @include max(575.98) {
                margin: 12px;
              }
        }
        .modal-header{
            display:block;
            border: none;
            padding: 30px;
            @include min(992){
                padding: 30px;
            }
            .btn-close{
                position: absolute;
                top: 30px;
                right: 30px;
                width: 14px;
                height: 14px;
                padding: 0px;
                box-shadow: none;
                color: #000;
                border-radius: 0;
                opacity: 1;
                @include min(992){
                    top: 40px;
                    right: 40px;
                }
                @include min(1200){
                    &:hover{
                        opacity: .7;
                    }
                }
               
            }
        }
        .modal-body{
            padding:20px;
            padding-bottom: 60px;
            padding-top: 0;
            @include min(992){
                padding:60px;
                padding-top: 0;
            }
         
        }
        .modal-footer{
            display: none;
        }
    }

    .title{
        font-size: size(22);
        font-weight: 500;
    }
    .subtitle{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 18px;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        color: var(--black);
        margin-bottom: 20px;
        &:last-child{
            margin: 0;
        }
        @include min(992){
            font-size: 18px;
        }
    }


    .image_wrap {
  
        position: relative;
        z-index: 1;
        max-width: 100%;
    
        @include min(768) {
          max-width: 50%;
        }
    
        @include min(992) {
          max-width: 100%;
        }
    
        .shape_figure {
          @include aspectRatio(300,340);
          overflow: hidden;
          background-image: url("/images/leadership/team_bg.png");
          background-repeat: no-repeat;
          background-size: cover;
    
          img{
            transition: 0.3s ease-in-out;
            width: 100%;
            object-position: bottom;
            object-fit: cover;
          }
       
        }
      }
  
      .social_icons{
           text-align: right;
           display: none;
           @include min(992){
                display: block;
            }
            :global(.link-arrow){
                width: 37px !important;
                height: 37px !important;
            }
            .links_icon{
                margin-left: 5px;
                svg{
                    path{
                        fill: var(--black);
                        transition: 0.3s ease-in-out;
                    }
                }
                &:hover{
                    svg{
                        path{
                            opacity: 1;
                        }
                    }
                }
            }
      }
    

}

.testipop{
    height: 100%;
}