@import "../../styles/util";


.ins_business {

    overflow: hidden;
    --section-top-space: 60px;
    --section-bottom-space: 40px;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 100px;
        --section-bottom-space: 70px;
    }
    @include min(1600) {
        --section-top-space: 136px;
        --section-bottom-space:120px;
    }
    .content_wrapper {
        align-items: center;
        .title {
           
            @include min(992) {
                line-height: 1.3;
                margin-bottom: 20px;
            }
            @include min(1600) {
                font-size: 50px;
                margin-bottom: 48px;
            }

            span {
                display: inline;
                background: -webkit-linear-gradient(50deg, #FF9100, #000000 73%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include min(992) {
                    display: block;
                }
            }
        }
        p{
            max-width: 505px;
            @include min(992){
                font-size: 22px;
            }
        }
    }
}



.right_wrapper{
    display: flex;
    justify-content: flex-end;
   
    margin-left: auto;
    margin: 0 -10px;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 580px;
    @include min(992) {
        margin: 0;
        padding-top: 0px;
        max-width: 88%;
    }
    .colm{
        padding: 0 10px;
        width: 100%;
        @include min(992) {
            padding: 0 18px;
        }

        

    }
    .colm2{
        margin-top:80px ;
        @include min(992) {
            margin-top:120px ;
        }
    }
}



// .img_section {
//     position: relative;
//     max-width: 245px;
//     margin: auto;
//     @include min(576) {
//         max-width: 343px;
//         margin: 0;
//     }
//     @include min(992){
       
//         max-width: 443px;
//     }

// }

// .img_wrapper {
//     position: relative;
//     &::after{
//         content: "";
//         background-image: url(../../../public/images/solutions/solution-mask-image.png);
//         position: absolute;
//         inset: 0;
//         background-size: contain;
//     }

//     figure {
//         @include aspectRatio(443, 613);

//         img {
//             object-fit: cover;
//             object-position: 74% 100%;
//             padding: 2px;
//         }
//     }
// }