@import "../../styles/util";


.ziva_loanproduct{
    padding: 60px 0 45px;
    background-color: #EAF0EE;
    overflow: hidden;
    @include min(992) {
      padding: 90px 0;
    } 
    @include min(1600) {
      padding: 124px 0;
    } 
    .title{
        span{
          background: -webkit-linear-gradient( 50deg,#27A3A0 20%, #000000 95%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      } 

      .ziva_loanwrapper{
            padding-top: 30px;
            @include min(992) {
              padding-top: size(100);
          } 
      }

      :global{
        .row{
            @include min(992) {
              --bs-gutter-x: 74px;
            } 
        }
      }


      .arrow_text{
        span{
            color: #000;
        }
        :global{
            .arrow_links{
                border: 1px solid var(--black);
                svg{
                  fill: var(--black) !important;
                }
            }
        }
        &:hover{
            @include min(1200) {
                :global{
                    .arrow_links{
                        border: 1px solid transparent;
                    }
                }
              }
        }
       
      }
}

@include max(992) {
  .viewallbtn{
    &:global{
      &.btnClicked{
        display: none;
      }
    }
  }
}
