@import "../../styles/util";

.careerlisting {
    --section-top-space: 0px;
    --section-bottom-space: 50px;
    position: relative;

    @include min(992) {
        --section-top-space: 0px;
        --section-bottom-space: 60px;
    }

    @include min(1600) {
        --section-top-space: 0px;
        --section-bottom-space: 104px;
    }
    
    .bottom_gradient{
        position: absolute;
        height: 527px;
        width: 842px;
        max-width: 100%;
        background-image: url("/images/bottom-gradient.png");
        background-size: contain;
        background-position: bottom;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-repeat: no-repeat;
        pointer-events: none;
        display: none;
        @include min(992) {
           display: block;
        }
    }

    .top_gradient{
        position: absolute;
        height: 527px;
        width: 842px;
        background-image: url("/images/bottom-gradient.png");
        background-size: contain;
        background-position: bottom;
        max-width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
        transform: scale(-1);
        pointer-events: none;
        display: none;
        @include min(992) {
            display: block;
         }
    }





    .title {
        margin: 31px 0;
        @include min(992){
            margin: 41px 0;  
        }
        @include min(1600) {
            margin-bottom: size(100);
            margin-top: size(45);
            font-size: size(50);
        }
    }

    .search_tab {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        flex-wrap: wrap;
        @include min(992){
            margin-bottom: 60px;
        }

        :global {

            .form-control {
                width: 100%;
                height: 100%;
                border-radius: 0;
                font-size: 16px;
                font-weight: 500;
                color: #000;
                position: relative;
                border: 1px solid #DADADA;
                padding-left: 20px;
                @include min(992){
                    font-size: 18px;
                    padding-left: 30px;
                }

                &::placeholder {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    @include min(992){
                        font-size: 18px;
                    }
                }

            }

            .css-b62m3t-container {
                width: 100%;
                height: 50px;
                border-radius: 0;
                margin-bottom: 20px;
                @include min(992){
                    max-width: 223px;
                    flex: 0 0 223px;
                    height: 54px;
                    margin-bottom: 0;
                }

                .selected {
                    &__control {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        box-shadow: none;
                        outline: none;
                        border: 1px solid #DADADA;
                        font-size: 16px;
                        font-weight: 500;
                        padding-left: 10px;
                        color: #000;
                        @include min(992){
                            font-size: 18px;
                            font-weight: 500;
                            color: #000;
                        }
                    }
                    &__input-container{
                       font-size: 16px;
                       @include min(992){
                        font-size: 18px;
                       }
                    }
                    &__placeholder{
                        color: #000;
                    }
                    &__indicator{
                        svg{
                            path{
                                fill: #000;
                            }
                        }
                    }
                }
            }
        }

        .search {
            width: 100%;
            height: 50px;
            position: relative;
            display: flex;
            margin-bottom: 20px;
            order: 2;
            @include min(992){
                flex: 0 0 430px;
                max-width: 424px;
                margin-bottom: 0;
                order: 1px;
            }

            :global(.form-control) {
                border-right: none;
                padding-right: 0;
                height: 50px;
                
                @include min(992){
                    height: 54px   
                }
            }

            a {
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #DADADA;
                border-left: none;
                height: 50px;
                background: #fff;
                pointer-events: none;
                @include min(992){
                    height: 54px;  
                }
                svg {
                    path {
                        fill: #000;
                    }
                }
            }
        }

        .filter_space {
            display: flex;
             width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            order: 1;
            @include min(992){
                flex: 0 0 470px;
                order: 2;
                flex-wrap: nowrap;
              
            }
        }
    }

    .listing_wrap {
       
        @include min(992) {
            border-bottom: 1px solid #D9D9D9;
        }

        .listing_box {
            display: flex;
            padding: 30px 0;
            border-top: 1px solid #D9D9D9;
            transition: all .2s ease-in-out;
            @include min(992) {
                padding: 50px 0;
            }
            @include min(1600) {
                padding: 60px 0;
            }

            @include max(991.98) {
                &:nth-child(1){
                    border-top: 0;
                }
            }

            flex-wrap: wrap;

            &_title {
                width: 100%;

                @include min(992) {
                    width: 40%;
                }

                .title {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    @include min(1600){
                        font-size: 24px;
                    }
                }
            }

            &_text {
                width: 100%;

                @include min(992) {
                    width: 50%;
                }

                p {
                    margin-bottom: 20px;

                    @include min(992) {
                        margin-bottom: 30px;
                    }
                    @include min(1600) {
                        margin-bottom: 50px;
                    }
                }

                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 15px;
                    @include min(576) {
                        max-width: 90%;
                    }
                    @include min(992){
                       max-width: 100%;
                       margin-bottom: 0;
                       justify-content: space-between;
                    }

                    li {
                        display: inline-block;
                        font-size: 13px;
                        font-weight: 500;
                        position: relative;
                        padding-left: 13px;
                        margin-bottom: 10px !important;
                        margin-right: 15px !important;

                        &:nth-last-child(1){
                            margin-right: 0;
                        }
                        &::before{
                           position: absolute;
                           content: "";
                           width: 4px;
                           height: 4px;
                           background-color: #000;
                           top: 7px;
                           left: 0;
                           @include min(992){
                            display: none;
                           }
                        }
                        @include min(992){
                            padding: 0;
                            margin: 0;
                        }

                        @include min(992) {
                            font-size: size(18);
                        }
                        @include min(1600){
                            font-weight: 600;
                        }
                    }
                }
            }

            &_link {
                width: 100%;
                display: flex;
                align-items: center;

                @include min(992) {
                    width: 10%
                }

                a {
                    display: flex;
                     transition: all .3s ease-in-out;
                    align-items: center;
                    @include min(992) {
                        margin-left: auto;
                    }

                    .text {
                        font-size: 16px;
                        color: #000;
                        font-weight: 500;
                        display: block;

                        @include min(992) {
                            display: none;
                        }
                    }

                    .icon {
                        border: 1px solid #000;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        transition: all .3s ease-in-out;
                        margin-left: 12px;

                        svg {
                            path {
                                transition: all .3s ease-in-out;
                                fill: #000;
                            }
                        }
                    }
                    &:hover{
                        @include min(992){
                            span{
                                border: 1px solid var( --orange-icon);
                                background-color:var( --orange-icon);
                                svg{
                                    path{
                                        
                                        fill:#fff;
                                    }
                                }
                            }
                        }
                    }

                }
            }
            &:hover{
                @include min(1200){
                    .listing_box_link{
                        a{
                            transform: translateX(-20px);
                        }
                    }

                    span{
                        border: 1px solid var( --orange-icon);
                        background-color:var( --orange-icon);
                        svg{
                            path{
                                
                                fill:#fff;
                            }
                        }
                    }


                }
            }
        }
      
    }
    .load_btn{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        @include min(992){
            margin-top: 40px;
        }
        @include min(1200){
            margin-top: 60px;
        }
        .load_more{
            background-color: transparent;
          
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            padding: 12px 0;
            border: 1px solid #000;
            color: #000;
            @include min(768){
                font-size: 18px;
                font-weight: 500;
                border: none;

            }
            span {
                border: 1px solid #000;
                width: 30px;
                height: 30px;
              
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transition: all .2s ease-in-out;
                margin-left: 12px;
                display: none;
                @include min(768){
                    display: flex;
                }

                svg {
                    path {
                        fill: #000;
                        transition: all .2s ease-in-out;
                    }
                }
            }
            @include min(992){
                &:hover{
                    span{
                        border: 1px solid var( --orange-icon);
                        background-color:var( --orange-icon);
                        svg{
                            path{
                                
                                fill:#fff;
                            }
                        }
                    }
                }
            }
           
        }

    }
}