@import "../../styles/util";


.swiper_wraper{
    :global{
            .swiper {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: size(30);
                
                &.swiper-single-row {
                    height: auto;
                    margin-top: size(70);
                    
                    .swiper-wrapper {
                        height: auto;
                    }
                    
                    .swiper-slide {
                        height: auto !important;
                        margin-top: 0px !important;
                    }
                }
                
                &:not(.swiper-single-row) {
                    height: 500px;
                    margin-top: size(30);
                    
                    @include min(768) {
                        height: 400px;
                        margin-top: size(70);
                    }
                    
                    .swiper-slide {
                        height: calc((50% - 30px) / 2) !important;
                        margin-top: 20px;
                        @include min(768) {
                            height: calc((100% - 30px) / 2) !important;
                            margin-top: 0px;
                        }
                    }
                }
                
            }
            
            .swiper-slide {
                text-align: center;
                font-size: 18px;
            
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
            }
           
            .swiper-pagination-bullet{
                border: 1px solid rgba(255, 255, 255, 0.5);
                background: transparent;
                &.swiper-pagination-bullet-active{
                    background: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(255, 255, 255, 0.8);
                    
                }
            }
    }
    
    &.single-row-pagination {
        :global(.swiper-pagination-bullet) {
            border: 1px solid rgba(0, 0, 0, 0.5) !important;
            background: transparent !important;
            &.swiper-pagination-bullet-active {
                background: rgba(0, 0, 0, 0.8) !important;
                border: 1px solid rgba(0, 0, 0, 0.8) !important;
            }
        }
    }
  
}

.box_wrap{
    
    .value_figure{
        position: relative;
        width: 120px;
        max-width: 100%;
        height: 50px;
        display: flex;
        // align-items: center;
        justify-content: center;
        margin: auto;
        @include min(992) {
            width: 140px;
            max-width: 100%;
            height: 70px;
        }   
        img{
            position: relative !important;
            height: auto !important;
            width: auto !important;
            transition: 0.3s ease-in-out;
            object-fit: contain;
        }

        .value2{
            display: none;
        }

    }

    &:hover{
        .value_figure{
            .value1{
                display: none;
            }    
           .value2{
                display: block;
            }
            // img{
            //     transform: scale(1.02);
            // }
        }
    }
}