@import "../../styles/util";


.home_cta {
    --section-top-space: 60px;
    --section-bottom-space: 40px;
    position: relative;
    @include min(992) {
        --section-top-space: 80px;
        --section-bottom-space: 80px;
    }
    @include min(1600) {
        --section-top-space: 136px;
        --section-bottom-space:100px;
    }
    .content_wrapper {
        align-items: center;
        .title {
            font-weight: 400;
            @include min(992){
                margin-bottom: size(40);
            }
            @include min(1600) {
                font-size: 50px;
                font-weight: 500;
            }

            span {
                display: inline;
                background: -webkit-linear-gradient(50deg, #FF9100, #000000 73%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include min(992) {
                    display: block;
                }
            }
        }
        p{
            max-width: 505px;
            @include min(992){
                font-size: 22px;
            }
        }
    }

    .bottom_right_bg{
        position: absolute;
        width: 738px;
        height: 663px;
        right: 0px;
        bottom: -332px;
        pointer-events: none;
        img{
                object-fit: contain;
                object-position: right;
        }  
    }

}

.img_section {
    position: relative;
    max-width: 245px;
    margin: auto;
  
    @include min(576) {
        max-width: 343px;
        margin: 0;
    }
    @include min(992){
        max-width: 443px;
        margin: auto;
    }

    img{
        transform: scale(1.5);  
      
    }

    &:global(.visible){ 
        figure{
            img{
                 transform: scale(1);
                 transition: 2s cubic-bezier(.8,0,0,1);
            }
        }
    }

}

.img_wrapper {
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        background-image: url(/images/fintech/mask_shape1.png);
        position: absolute;
        inset: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }

    figure {
        @include aspectRatio(443, 613);

        img {
            object-fit: cover;
            object-position: 40%;
        }

        .points_left_right{
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            &:before{
              position: absolute;
              content: '';
              top:0;
              left: 0;
              width: 5px;
              height: 100%;
              z-index: 1;
              background-color: #ffffff;
            }
            &:after{
              position: absolute;
              content: '';
              top:0;
              right: 0;
              width: 5px;
              height: 100%;
              z-index: 1;
              background-color: #ffffff;
            }
  
          }
  
          .points_top_bottom{
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            &:before{
              position: absolute;
              content: '';
              top:0;
              left: 0;
              width: 100%;
              height: 15px;
              background-color: #ffffff;
              z-index: 1;
            }
            &:after{
              position: absolute;
              content: '';
              bottom:0;
              left: 0;
              width: 100%;
              height: 15px;
              background-color: #ffffff;
              z-index: 1;
            }
  
          }
    }
}