@import "../../styles/util";

.statim_section{
    --section-top-space: 60px;
    --section-bottom-space: 20px;
    @include min(1024){
        --section-top-space: 130px;
        --section-bottom-space: 60px;
    }
    .addon_img_wrapper{
        position: absolute;
        left: 0%;
        top: 0;
        width: 400px;
        height: 400px;
        pointer-events: none;
        figure{
            @include aspectRatio(400,400);
        }
    }
}
.header_wrapper{
    margin-bottom: 30px;
    @include min(768){
        margin-bottom: 45px;
    }
    @include min(1024){
        margin-bottom: 60px;
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        @include lineHeight(30,44);
        @include min(991){
            font-size: size(40);
            @include lineHeight(50,76);
            max-width: 85%;
        }
        @include min(1600){
            font-size: size(50);
        }
    }
}
.content_wrapper{
    --bs-gutter-y: 40px;
    @include min(768){
        --bs-gutter-y: 0px;
    }
    .content{
        font-size: 20px;
        font-weight: 400;
        @include lineHeight(20,30);
        @include min(991){
            font-size: size(24);
            @include lineHeight(24,38);
        }
    }
}
.img_wrapper{
    max-width: 400px;
    @include min(992){
        max-width: 420px;
    }
    figure{
        @include aspectRatio(380,467);
        @include min(1024){
            @include aspectRatio(368,615);
        }
        img{
            object-fit: contain;
        }
    }
}