@import "../../../styles/util";

.wraper_zivatext{
    .ziva_icon_text_card{
        overflow: hidden;
        position: relative;
        height: 100%;
        max-width: 100%;
        margin-top: 30px;
        padding-top: 30px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.404);
        @include min(992) {
            margin-top: size(60);
            padding-top: size(60);
            max-width: 87%;
            transform: translateY(1px);
        } 

        figure{
            position: relative;
            max-width: 128px;
            padding-bottom: 128px;
            margin-bottom: 20px;
            @include min(1600) {
                max-width: 165px;
                padding-bottom: 165px;
                margin-bottom: size(45);
            } 
            img{
                position: relative;
            }
        }
        .title{
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 18px;
            font-weight: 400;
            @include min(992) {
                font-size: size(30);
                margin-bottom: 26px;
            } 
        }
        p{
            margin-bottom: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            @include min(992) {
                margin-bottom: size(40);
            } 

        }
    }
    &:nth-child(even){
        @include min(992) {
            .ziva_icon_text_card{
                margin-left: auto;
            }
        } 
    }
    // &:nth-child(1){
    //     .ziva_icon_text_card{
    //         margin-top: 0;
    //         padding-top: 0;
    //         border-top: 0;
    //     }
    // }

    // &:nth-child(2){
    //     @include min(992) {
    //         .ziva_icon_text_card{
    //             margin-top: 0;
    //             padding-top: 0;
    //             border-top: 0;
    //         } 
    //     } 
    // }

    &:nth-last-child(1){
        @include max(991.98) {
            .ziva_icon_text_card{
               border-bottom: 0;
            }
        }
    }



    &.axle_wrapper{
        .ziva_icon_text_card{
            .title{
                span{
                    background: -webkit-linear-gradient( 50deg,#FF9100, #FFFFFF 95%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
            }
        }
    }

    &.kazito_wrapper{
        .ziva_icon_text_card{
            border: 0;
            .title{
                span{
                        background: -webkit-linear-gradient( 50deg,#116BD7 20%, #ffffff 80%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    &.fintech_wrapper{
        .ziva_icon_text_card{
            @include min(992) {
                margin-top: size(50);
                padding-top: size(90);
            } 
            figure{
                @include min(992) {
                    max-width: 130px;
                    padding-bottom: 130px;
                    margin-bottom: size(30);
                } 
            }

            .title{
                @include min(992) {
                    font-size: size(24);
                   font-weight: 500;
                } 
            }
            p{
                margin-bottom: 0;
                -webkit-line-clamp: initial;
            }

            

        }

        // &:nth-child(1){
        //     .ziva_icon_text_card{
        //         margin-top: 0;
        //         padding-top: 0;
        //         border-top: 0;
        //     }
        // }
    
        // &:nth-child(2){
        //     @include min(992) {
        //         .ziva_icon_text_card{
        //             margin-top: 0;
        //             padding-top: 0;
        //             border-top: 0;
        //         } 
        //     } 
        // }

    }
}
