@import "../../styles/util";

.statim_sepciality_section{
    --section-top-space: 60px;
    --section-bottom-space: 10px;
    background-color: #FCF7F4;
    position: relative;
    overflow: hidden;
    @include min(992) {
        --section-top-space: 100px;
        --section-bottom-space: 100px;
        background-color: #F8F8F8;
    }
    @include min(1600) {
        --section-top-space: 180px;
        --section-bottom-space: 180px;
    }
    .addon_img_wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        pointer-events: none;
        figure{
            margin: 0;
            position: relative;
            height: 100%;
            width: 100%;
            img{
                object-fit: cover;
            }
        }
    }
}

.content_wrapper{
    --bs-gutter-x: 90px;
    @include max(1199){
        --bs-gutter-x: 0;
    }
    .title{
        font-weight: 400;
        margin-bottom: 0;
        color: var(--black);
        position: relative;
        z-index: 2;
    }
}

.features_list{
    list-style: none;
    padding-left: 0;
    column-gap: 40px;
    @include min(992) {
        margin-top: size(60);
    }
    @include min(1200) {
        column-count: 2;
    }
    &_item{
        font-size: 18px;
        font-weight: 500;
        color: var(--black);
        padding-left: 33px;
        position: relative;
        padding-bottom: 28px;
        margin-bottom: 28px;
        border-bottom: 1px solid #E3E3E3;
        @include min(992) {
            border-bottom: 1px solid rgba(128, 128, 128, 0.25);
        }
        @include max(991.98) {
            &:nth-last-child(1){
                border-bottom: 0px;
            }
        }
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 11px;
            background-color: #E68A3E;
            width: 6px;
            height: 6px;
        }
    }
}
.img_section{
    position: relative;
    max-width: 320px;

    @include min(576) {
        max-width: 443px;
    }
    &::before{
        position: absolute;
        content: "";
        background-image: url(/images/statim/addon-img-top.png);
        width: 70px;
        height: 100px;
        bottom: 20%;
        right: 12%;
        background-size: contain;
        background-repeat: no-repeat;
        @include min(992) {
            width: 85px;
            height: 150px;
        }
    }
    &::after{
        position: absolute;
        content: "";
        background-image: url(/images/statim/addon-img-top.png);
        width: 70px;
        height: 100px;
        transform: rotate(180deg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 15%;
        left: 7%;
        @include min(992) {
            width: 85px;
            height: 150px;
            top: 10%;
            left: 10%;
        }
    }

    &:global(.visible){
        .img_wrapper{
            figure{
                img{
                    transform: scale(1);  
                    transition: 2s cubic-bezier(.8,0,0,1);
                }
            }
        }
    }
}
.img_wrapper{
 
    mask-image: url(/images/statim/statim-mask-img.png);
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: 30% 30%;
    position: relative;
    figure{
        @include aspectRatio(443,613);
        img{
            object-fit: cover;
            object-position: 52% 100%;
            transform: scale(1.5);  
         
        }
    }
}