@import "../../../styles/util";

.axle_list_wrapper{
    margin-top: -30px;
    .axle_list_item{
        font-size: 18px;
        font-weight: 500;
        @include lineHeight(18,30);
        padding: 28px 0;
        padding-left: 28px;
        border-bottom: 1px solid #E3E3E3;
        &:last-child{
            border-bottom: unset;
        }
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 42px;
            width: 6px;
            height: 6px;
            background-color: var(--black);
        }
    }
}   