@import "../../styles/util";

.buldingsolution{
    --section-top-space: 0px;
    --section-bottom-space: 40px;
    position: relative;
    @include min(992){
        --section-top-space: 0px;
        --section-bottom-space: 100px;
    }
    @include min(1600){
        --section-top-space: 0px;
        --section-bottom-space: 118px;
    }
    &_head{
        margin-top: size(50);
    }
    .title{
        max-width: 566px;
        font-weight: 400;
        @include max(991.98){
            margin-bottom: 21px;
        }

        span{
            background: -webkit-linear-gradient( 50deg,#002AB3 20%, #000000 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include max(1600) {
                display: block;
            }
          }

    }
    .content_wrapper{
        max-width: 630px;
        h3,h4,h5,h6{
            font-size: size(24);
            font-weight: 400;
            @include lineHeight(24,38);
            margin-bottom: size(35);
            color: var(--black);
            @include max(767){
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 20px;
                @include lineHeight(20,30);
            }
        }

        p{
            max-width: 602px;
            // margin: 0;
            line-height: 1.52;
        }

    }


    .solution{
        &_wrap{
           display: flex;
           flex-wrap: wrap;
           width: 100%;
            margin-top: 20px;
           @include min(992){
            margin-top: size(120);
           }
        }
        &_box{
            width: 100%;
            display: flex;
           border-bottom: 1px solid rgba($color: #000000, $alpha: .1);;
           padding: 20px 0;
           align-items: center;
           &:last-child{
            border-bottom: none;
           }
            @include min(992){
                flex-direction: column;
                border-bottom: 0;
                padding: 0;
                width: 20%; 
                text-align: center;
                border-right: 1px solid rgba($color: #000000, $alpha: .1);
                &:first-child{
                    border-left: 1px solid rgba($color: #000000, $alpha: .1);
                }
            }
            figure{
                width: 22px;
                height: 22px;
                position: relative;
               margin-bottom: 0;
               transition: 0.3s ease-in-out;
                @include min(992){
                    width: 30px;
                    height: 30px;
                    margin: auto;
                    margin-bottom: 18px;
                }
            }
            p{
                margin: 0;
                margin-left: 25px;
                font-weight: 500;
                color: #000000;
                transition: 0.3s ease-in-out;
                @include min(992){
                    margin: 0;
                }
            }
            @include min(1200) {
                &:hover{
                    p{
                        color: var(--bg-color);
                    }  
                    figure{
                        transform: scale(1.1);
                        
                    } 
                }
            }
        }
    }
}