@import "../../styles/util";


.kazito_retail{
    padding: 60px 0 30px;
    background-color: #fff;
    position: relative;
    @include min(992) {
      padding: 80px 0;
    }
    @include min(1600) {
      padding: 120px 0 90px;
    }
    .title{
        font-size: 30px;
        max-width: 545px;
        font-weight: 400;
        margin-bottom: 20px;
        @include min(992) {
          font-size: size(35);
        }
        span{
          background: -webkit-linear-gradient( 50deg,#116BD7 20%, #1B9A8F 95%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      
      } 

      p{
        font-size: 18px;
        font-weight: 500;
      }

      .ziva_loanwrapper{
            padding-top: size(35);
            @include min(992) {
               padding-top: size(80);
            }
      }

      :global{
        .row{
            
            @include min(1200) {
                --bs-gutter-x: 74px;
            }
        }
      }

      .bottom_left_bg{
        position: absolute;
        width: 534px;
        height: 1098px;
        left: 0px;
        top: -700px;
        pointer-events: none;
        max-width: 100%;
        display: none;
        @include min(992) {
         display: block;
        }
        img{
                object-fit: contain;
                object-position: top left;
        }  
    }

    &.col5x7{
      @include min(992) {
        background-color: #EAECF0;
      }
      .title{
        font-size: 30px;
        @include min(992) {
            font-size: size(40);
        }
        @include min(1600) {
          font-size: size(55);
        } 
      }
      p{
        font-size: 20px;
          @include min(992) {
              font-size: size(24);
          }
      }
    }
}