@import "../../styles/util";

.CareerFunWork{
    --section-top-space: 60px;
    --section-bottom-space: 90px;
    overflow: hidden;
    background: #081229;
    position: relative;
    @include min(992) {
        --section-top-space: 80px;
        --section-bottom-space: 80px;
    }
    @include min(1600) {
        --section-top-space: 130px;
        --section-bottom-space:130px;
    }

    .top_bg{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
        img{
            object-fit: fill;
        }
    }


    .title{
      margin-bottom: size(22);
        @include min(1600) {
            font-size: size(50);
        } 
        span{
            background: -webkit-linear-gradient( 30deg,#1B7AC7, #FFFFFF 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    }

    .discription{
        h3,h4,h5,h6{
            font-size: size(24);
            margin-bottom: size(24);
            line-height: 1.58;
        }
    }
      
}



// .careerfuture_section {
 
  
    .careerfuture_section_slider {
      // transform: translateX(-50%) translateZ(0);
      // transition: 0.8s all ease-in-out;
      // opacity: 0;
      // overflow: hidden;

      .board_swiper{
        overflow: visible;
      }
      .item {
        @include min(1200) {
          // transform: translateY(100%) translateZ(0);
          // transition: 0.8s all ease-in-out;
          &:nth-of-type(2) {
            transition-delay: 0.2s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.4s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.6s;
          }
        }
      }
      :global(.drag) {
        opacity: 0;
        display: none;
      }
      &:hover {
        :global(.drag) {
          display: flex;
          z-index: 9;
          opacity: 1;
          @include max(1199.98) {	
              display: none;
          }
        }
      }
    }
    // &:global(.visible) {
    //   .careerfuture_section_slider {
    //     transform: initial;
    //     opacity: 1;
    //     .item {
    //       transform: initial;
    //     }
    //   }
    // }
    .item {
      // padding: 0 15px;
    }
    .careerfuture_section_slider{
      cursor: none;
      margin-top: size(40);
      @include min(992) {
        margin-top: size(70);
      }
  
      @include min(1600) {
        margin-top: size(100);
      }
      .swiper_figure {
        @include aspectRatio(524, 345);
        overflow: hidden;
        img {
          object-fit: cover;
          transform: scale(1.5);  
        }
      }


      :global(.swiper-scrollbar-horizontal) {
        height: 20px;
        background: transparent;
        bottom: -40px;
        display: none;
        @include max(1199.98) {	
           display: block;
        }
        &:after {
          position: absolute;
          content: "";
          background: rgba(255, 255, 255, 0.2);
          height: 2px;
          width: 100%;
          left: 0;
          top: 10px;
          z-index: -1;
        }
        :global(.swiper-scrollbar-drag) {
          background: transparent;
          &:after {
            position: absolute;
            content: "";
            background: #FFFFFF;
            height: 2px;
            width: 100%;
            left: 0;
            top: 10px;
            z-index: 1;
          }
        }
      }

      &:global(.visible){
        .swiper_figure {
          img {
            transform: scale(1);  
            transition: 2s cubic-bezier(.8,0,0,1);
          }
        }
      }

    }
  // }
