@import "../../../styles/util";

.img_wrapper{
    max-width: 100%;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
    transition: 2s cubic-bezier(.8,0,0,1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 80%, 80% 100%, 0% 100%, 0% 60%);
    width: var(--img-max-width);
    filter: blur(2px);
    @include max(991){
        margin-left: auto;
        margin-right: auto;
    }
    @include min(768){
        max-width: 90%;
    }
    
    figure{
        padding-bottom: var(--bs-aspect-ratio);
        position: relative;
        img{
            object-fit: cover;
            transform: scale(1.5);  
          
        }
    }
    &:global(.visible){
        
        filter: blur(0);
        figure{
            img{
                transform: scale(1);
                transition: 2s cubic-bezier(.8,0,0,1);
            }
        }
    }
}