@import "../../styles/util";

.careerfamily{
    --section-top-space: 50px;
    --section-bottom-space: 60px;
    overflow: hidden;
    position: relative;

    @include min(992) {
        --section-top-space: 90px;
        --section-bottom-space: 60px;
    }

    @include min(1600) {
        --section-top-space: 148px;
        --section-bottom-space: 144px;
    }
    :global(.row){
       align-items: center;
    }
    .content{
        @include min(1600){
            max-width: 572px;
        }
        .title{
            margin-bottom: 40px;
            @include min(1600){
               margin-bottom: size(45);
            }
        }
        p{
            margin-bottom: 0;
        }
    }

    .top_bg{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
        img{
            object-fit: cover;
            object-position: 90% 50%;
        }
    }
    .imagewrap{
        margin-bottom: 40px;
        @include min(992){
            margin-bottom: 0;
        }
    }
}