@import "../../../styles/util";

.feature_card_wrapper{
    padding-bottom: 40px;
    height: 100%;
    @include min(992){
        padding-bottom: 50px;
    }
    .title{
        font-size: 20px;
        font-weight: 500;
        @include lineHeight(20,28);
        margin-bottom: 20px;
        @include lineClamp(2);
        @include min(768){
            font-size: size(22);
            
        }
        @include min(1600){
            font-size: size(26);
            @include lineHeight(26,38);
            margin-bottom: size(50);
        }


        @include max(768){
            br{
               display: none;
            }
        }
        

    }
    .description{
        font-size: 16px;
        font-weight: 400;
        @include lineHeight(16,25);
        // @include lineClamp(5);
        margin-bottom: 0px;
        @include min(992){
            font-size: size(18);
            @include lineHeight(18,26);
        }
    }


    &.fintech{
        // padding-bottom: 0px;
        // padding-top: 35px;
        // @include min(992){
        //     padding-top: 50px;
        // }

        .title{
            @include min(1600){
                margin-bottom: size(30);
            }
        }
    }
}