@import "../../../styles/util";

.ListCardWrapper{
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #C6C6C6;
    height: 100%;
    @include min(992) {
        padding-bottom: 28px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    } 

    &:hover{
        @include min(1200) {
            img{
                filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
            }
        }
    }

    .image_wrapper{
        flex: 0 0  35px;
        max-width: 35px;
        margin-right: size(25);
        @include min(1600) {
            flex: 0 0  50px;
            max-width: 50px;
        } 
        
        .image_box{
            position: relative;
            padding-bottom: 35px;
            margin: 0;
            @include min(1600) {
                padding-bottom: 50px;
            } 
        }
       
    }

    h5{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
        color: #171717;
        @include min(992) {
            font-size: size(20);
        } 
    }

   
}

.ListCard{
    margin-bottom: 18px;
    @include min(992) {
        margin-bottom: 28px;
    } 
    
    &:nth-last-child(1){
        .ListCardWrapper{
            @include max(767.98) {
              border: 0;
            }
        }
    }

    &.width35{
        .image_wrapper{
            flex: 0 0  25px;
            max-width: 25px;
            @include min(1600) {
                flex: 0 0  35px;
                max-width: 35px;
                margin-right: size(32);
            } 
            
            .image_box{
                @include min(1600) {
                    padding-bottom: 35px;
                } 
            }
           
        }
        h5{
            @include max(991) {
                font-size: 16px;
            } 
        }
    }


    &.showallbbox{
            display: block !important;
    }
    img{
        transition: 0.2s cubic-bezier(.8,0,0,1);
    }

    @include max(992) {
        display: none;
        &:nth-child(-n+6){
            display: block;
        }

        &:global{
            &.btnClicked{
                    display: block !important;
            }
        }
    }
    
   

}