@import "../../styles/util";

.axle_desc_section{
    background-color: #FCF7F4;
    padding: 60px 0;
    position: relative;
    @include min(992) {
        padding: 90px 0;
    } 
    @include min(1600) {
        padding: 114px 0 170px;
    } 

    .top_right_img{
        position: absolute;
        top: 0;
        right: 0;
        width: 665px;
        height: 665px;
        max-width: 100%;
        pointer-events: none;
        // @include max(767){
        //     display: none;
        // }
        figure{
            @include aspectRatio(665,665);
        }
    }
    .bottom_left_img{
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        width: 765px;
        height: auto;
        pointer-events: none;
        // @include max(767){
        //     display: none;
        // }
        figure{
            @include aspectRatio(765,650);
        }
    }

    .title{
        @include min(992) {
           max-width: 70%;
         }
    }
}
.description_wrapper{
    
    padding-top: size(30);
    @include min(992) {
        padding-top: size(70);
    } 
    @include min(1200){
        --bs-gutter-x: 98px;
    }
    .image_wrapper{
        max-width: 487px;
        margin-right: auto;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 82%, 85% 100%, 0% 100%, 0% 60%);
        @include min(992) {
            margin-left: auto;
        } 
        figure{
            @include aspectRatio(487,585);
        }
    }

    
    .content{
        &_wrapper{
            overflow: hidden;
            overflow-y: auto;
            @include min(1200) {
                max-height: 580px;
                padding-right: 75px;
            } 
            &::-webkit-scrollbar-track{
                background-color: #EBEBEB;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #E8954D;
            }
        }
        &_item{
            &:not(:last-child){
                margin-bottom: 35px;
                @include min(992) {
                    margin-bottom: 65px;
                } 
            }
        }
        &_title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #000000;
            @include lineHeight(24,32);
        }
        &_description{
            font-size: 18px;
            font-weight: 400;
            @include lineHeight(18,28);
            margin-bottom: 0;
            color: #000000;
        }
    }
}
