@import "../../styles/util";

.axle_institute_section{
    --section-top-space: 60px;
    --section-bottom-space: 40px;
    @include min(768){
        --section-top-space: 80px;
        --section-bottom-space: 70px;
    }
    @include min(1024){
        --section-top-space: 115px;
        --section-bottom-space: 90px;
    }
    .top_addon_img{
        position: absolute;
        bottom: -700px;
        left: -700px;
        width: 1400px;
        height: 1400px;
        max-width: 100%;
        pointer-events: none;
        display: none;
        figure{
            @include aspectRatio(1400,1400);
        }
        @include min(992) {
                display: block;
        } 
    }
    .bottom_addon_img{
        position: absolute;
        top: -300px;
        left: -250px;
        width: 600px;
        height:600px;
        pointer-events: none;
        opacity: 0.8;
        @include min(992) {
            top: -20%;
            left: auto;
            right: -800px;
            width: 1400px;
            height: 1400px;  
        } 
        figure{
            @include aspectRatio(1400,1400);
        }
    }
}

.header_wrapper{
    margin-bottom: size(40);
    @include min(992){
        margin-bottom: size(80);
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        @include lineHeight(30,44);
        @include min(992){
            font-size: size(40);
            max-width: 50%;
        }
        @include min(1600){
            font-size: size(55);
            @include lineHeight(55,81);
        }
    }
}
.content_wrapper{
    --bs-gutter-y: 40px;
    @include min(992){
        --bs-gutter-y: 0px;
        --bs-gutter-x: 50px;
    }
    @include min(1200){
        --bs-gutter-x: 100px;
    }
    @include min(1600){
        --bs-gutter-x: 157px;
    }
    .list_wrapper{
        @include min(1024){
            padding-right: 65px;
        }
    }
}