@import "../../styles/util";

.ziva_management{
    padding: 60px 0;
    background-color: #041B25;
    color: var(--white);
    position: relative;
    overflow: hidden;
    @include min(992) {
        padding: 90px 0;
    } 
    @include min(1600) {
        padding: 140px 0;
    } 
  
    .top_right_bg{
        position: absolute;
        width: 729px;
        height: 1037px;
        right: 0;
        top: 0;
        pointer-events: none;
        display: none;
        max-width: 100%;
        opacity: 0;
        transition: 0.5s ease-in-out 0.5s;
        @include min(992) {
            display: block;
        } 
        img{
              object-fit: contain;
              object-position: top right;
        }  
    }
    .bottom_right_bg{
        position: absolute;
        width: 1111px;
        height: 1148px;
        right: -250px;
        bottom: -850px;
        transform: rotate(60deg);
        pointer-events: none;
        opacity: 0;
        transition: 0.5s ease-in-out 0.5s;
        img{
                object-fit: contain;
        }  
    }

    h2{
        font-size: 30px;
        max-width: 800px;
        margin-bottom: 00px;
        font-weight: 400;
        line-height: 1.4;
        @include min(992) {
            max-width: 80%;
            font-size: size(40);
            margin-bottom: size(00);
        } 
        @include min(1600) {
            font-size: size(50);
            line-height: 1.6;
        }
        span{
            background: -webkit-linear-gradient( 50deg,#2EBDB9 20%, #ffffff 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    }

    &:global(.visible){
            .top_right_bg, .bottom_right_bg{
                    opacity: 1;
            }
    }

}