@import "../../styles/util";


.comming_soon{
    overflow: hidden;
    background-image: url(/images/coming_soon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    background-color: #0A1631;
    display: flex;
    align-items: center;
    min-height: calc( 100vh - 70px);
    @include min(992) {
        padding: 70px 0 50px;
    }
    @include min(1600) {
        padding: 150px 0 70px;
    }
    .topWrap{
        color: var(--white);
        .shape_fixed{
            max-width: 140px;
            margin: auto;
            margin-bottom: size(50);
            @include min(992) {
                max-width: 200px;
                margin-bottom: size(80);
            }
            .shape_figure2{
                @include aspectRatio(199, 217);
                img{
                    object-fit: contain;
                }
            }
        }

        .title{
            font-size: size(50);
            font-weight: 700;
            margin-bottom: size(20);
            @include min(992) {
                font-size: size(80);
            }
        }

        .text{
            font-weight: 300;
        }

        .LinkWraper{
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 55px ;
            text-align: center;
           

            @include min(768) {
                display: flex;
            }
            @include min(992) {
                padding-top: size(90) ;
            }
            @include min(1600) {
                padding-top: size(155) ;
            }
            .addressnumber{
                display: flex;
                @include min(768) {
                    margin-right: 40px;
                }

                @include max(767) {
                    justify-content: center;
                    margin-bottom: 15px;
                }
                .top_icon{
                    margin-right: 15px;
                }
                a{
                    color: var(--white);
                    transition: 0.3s ease-in-out;
                    @include min(1200) {
                        &:hover{
                            color: var(--bg-color);
                        }
                    }
                }
                &:nth-last-child(1){
                    margin: 0;
                }
            }
        }

        .FormWrap{
            
            justify-content: center;
            max-width: 556px;
            margin: auto;
            margin-top: size(60);
            @include min(768) {
                display: flex;
            }
            @include min(992) {
                margin-top: size(80);
            }
           
            input{
                border-radius: 0;
                height: 100%;
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.5);
                color: var(--white);
                width: 375px;
                max-width: 100%;
                min-height: 50px;

                &::placeholder{
                    color: var(--white);
                    opacity: 0.5;
                }
            }

            :global(.btn){
                font-weight: 700;
                @include max(767.98) {
                    display: block;
                    width: 100%;
                    margin-top: 15px;
                }
                &:hover{
                    border: 1px solid var(--white);
                    @include max(1199.98) {
                       background-color: var(--bs-btn-bg);
                       border: 1px solid var(--bs-btn-bg);
                       color: var(--white);
                    }
                }
                &:active{
                    border-color: var(--white);
                }
            }
        }
    }
}